<div class="answer_section">
    {% if subpart.type == 1 %}
        {% include "authenticated/question/mcsa_answer_section.html" %}
    {% elif subpart.type == 2 %}
        {% include "authenticated/question/mcma_answer_section.html" %}
    {% elif subpart.type == 3 %}
        {% include "authenticated/question/numeric_answer_section.html" %}
    {% elif subpart.type == 4 %}
        {% include "authenticated/question/textual_answer_section.html" %}
    {% elif subpart.type == 5 %}
        {% include "authenticated/question/conditional_answer_section.html" %}
    {% endif %}
</div>