<div>Enter a number in any of the following formats&#58;</div>

<table class="table">
    <thead>
    <tr>
        <th>Format</th>
        <th colspan="3">Example</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div class="important">Integer</div>
        </td>
        <td>-4</td>
        <td>5</td>
        <td>0</td>
    </tr>
    <tr>
        <td>
            <div class="important">Decimal</div>
        </td>
        <td>-4.23</td>
        <td>5.0</td>
        <td>0.134</td>
    </tr>
    <tr>
        <td>
            <div class="important">Fraction</div>
        </td>
        <td>2/3</td>
        <td>-23/47</td>
        <td>-44/12</td>
    </tr>
    </tbody>
</table>

<div>Max {{ max_char }} characters</div>
