<div>Enter a number in any of the following formats&#58;</div>

<table class="table">
    <thead>
    <tr>
        <th>Format</th>
        <th colspan="3">Example</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <div class="imp">Integer</div>
        </td>
        <td>-4</td>
        <td>5</td>
        <td>0</td>
    </tr>
    <tr>
        <td>
            <div class="imp">Decimal</div>
        </td>
        <td>-4.23</td>
        <td>5.0</td>
        <td>0.134</td>
    </tr>
    <tr>
        <td>
            <div class="imp">Fraction</div>
        </td>
        <td>2/3</td>
        <td>-23/47</td>
        <td>-44/12</td>
    </tr>
    <tr>
        <td>
            <div class="imp">Mixed Fraction</div>
            <div>Whole and fraction seperated by |</div>
        </td>
        <td>1|5/7</td>
        <td>-2|1/47</td>
        <td>4|11/12</td>
    </tr>
    <tr>
        <td>
            <div class="imp">Scientific</div>
            <div>Put base 10 exponent after e</div>
        </td>
        <td>1.35e-10</td>
        <td>2e5</td>
        <td>-44.4567e-30</td>
    </tr>
    </tbody>
</table>

<div>Max {{ max_char }} characters</div>
