{% load core_extras %}

<div class="question_subpart">
    <div class="question_subpart_content">
    {% include "authenticated/question/element.html" with element=subpart.content only %}
    </div>
    {% if subpart.hint %}
        <div class="question_subpart_hint_container">
        {% include "authenticated/question/hint.html" with hint=subpart.hint only %}
        </div>
    {% endif %}

    <div class="question_subpart_field">
        {% block subpart_field %}
        {% if subpart.type == subpart.TYPES.CONDITIONAL %}
            {% include 'authenticated/question/conditional_subpart.html' with subpart=subpart form=form question_index=question_index question_subpart_index=question_subpart_index only %}
        {% else %}
            {% with field_key=question_index|add_str:"_"|add_str:question_subpart_index %}
                {% if subpart.type == subpart.TYPES.NUMERIC %}
                    {% include 'authenticated/question/form_field.html' with field=form|get_form_field:field_key unit=subpart.unit only %}
                {% else %}
                    {% include 'authenticated/question/form_field.html' with field=form|get_form_field:field_key only %}
                {% endif %}
            {% endwith %}
        {% endif %}
        {% endblock subpart_field %}
        {% block subpart_solution %}{% endblock subpart_solution %}
    </div>
</div>