img{
	height: 150px;
}


.founder_image{
 	display: block;
    margin: 0 auto;

}
.intern_image{
	vertical-align: center;
	margin-left: 40%;

}

p{
	text-align: justify;
	padding: 20px;
}

h4,h3{
	text-align: center;
}
.about{
	font-size: 24px;
	text-align: left;
	padding:40px;
}

/*Bootstrap Class lead overriden*/
.lead{
	font-size: 30px;
	text-align: center;	
	margin-top:-30px;
}

.about_header{
	padding-left:40px;
	font-size:26px;
}

.founder_info{
	padding:40px;
	padding-bottom:0px;
	font-size:17px;
}


#base_body{
	min-height:600px
}