body{
    padding-top: 40px;
}
.indented_body_left{
    padding-left: 20px;
}
.indented_body_right{
    padding-right: 10px;
}

.white{
    color:#fff ;
}

#base_body{
    min-height: 91vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

form ul.errorlist {
    color: red;
    font-size: 0.9em;
    list-style: none;
    display: inline-block;
    padding-left: 0px;
}

form ul.errorlist li {
    padding: 0px;
}

form .fieldWrapper {
    margin-top: 25px;
}

form #simple_form_submit {
    margin-top: 30px;
}

.helptext {
    font-style: italic;
}

#footer {
    margin-bottom: 0px;
    border-radius:0px;
    padding-left:15px;
    padding-right:15px;
    width:100%;
}

ul.nav.footer {
    margin-top: 0px;
}

/*override bootstrap class */
.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* fix for bootstrap modal increasing page width while activated */
body {
  padding-right: 0px !important
}
.modal-open {
  overflow-y: auto;
}

/* reusable button class */
.hwcentral_action_button {
    padding: 15px 25px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 20px;
    background-color:#039D9D;
    border: none;
}

.hwcentral_action_button:hover {
    cursor: pointer;
    cursor: hand;
}

.hwcentral_action_button, .hwcentral_action_button:hover {
    color:#fff ;
}

/*flat theme*/
.well {
    border-radius: 0px;
}