body{
    padding-top: 40px;
}
.indented_body_left{
    padding-left: 20px;
}
.indented_body_right{
    padding-right: 10px;
}

.white{
    color:#fff !important;
}

#base_body{
    min-height: 91vh;
}

#headerlogo{
    height:38px;
    margin-top:-9px;
    display:inline-block;
}
