body{
    padding-top: 40px;
}

label {
    margin-right: 5px;
}

.indented_body_left{
    padding-left: 20px;
}
.indented_body_right{
    padding-right: 10px;
}

.white{
    color:#fff ;
}

#base_body{
    min-height: 91vh;
    padding-top: 10px;
    padding-bottom: 10px;
}

form ul.errorlist {
    color: red;
    font-size: 0.9em;
    list-style: none;
    display: inline-block;
    padding-left: 0px;
}

form ul.errorlist li {
    padding: 0px;
}

form .fieldWrapper {
    margin-top: 25px;
}

form #simple_form_submit {
    margin-top: 30px;
}

.helptext {
    font-style: italic;
}

#footer {
    margin-bottom: 0px;
    border-radius:0px;
    padding-left:15px;
    padding-right:15px;
}

ul.nav.footer {
    margin-top: 0px;
}

/*override bootstrap class */
.row {
    margin-right: 0px;
    margin-left: 0px;
}

/* fix for bootstrap modal increasing page width while activated */
body {
  padding-right: 0px !important
}
.modal-open {
  overflow-y: auto;
}

/* reusable button class */
.hwcentral_action_button {
    padding: 15px 20px;
    border-radius: 0px;
    box-shadow: none;
    font-size: 18px;
    background-color:#039D9D;
    border: none;
}

.hwcentral_action_button:hover, .hwcentral_action_button:focus {
    text-decoration: none;
}

a, .hwcentral_action_button {
    cursor: pointer;
    cursor: hand;
}

.hwcentral_action_button, .hwcentral_action_button:hover {
    color:#fff ;
}

.disabled_action_button, .disabled_action_button:hover, .disabled_action_button:focus {
    opacity: 0.5;
    color: #2D2D2D;
    cursor: text;
    text-decoration: none;
}

/*flat theme*/
.well {
    border-radius: 0px;
}

/*standard modal size*/
.modal-dialog{
    margin:100px auto;
    width: 820px;
}

/* overriding bootstrap */
.modal-open .modal {
    overflow-x: auto;
}

.dim {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999 !important;
    background-color: black;
    opacity: 0.75;
}