.listoptions li{
	font-size: 20px;
	font-family: "Helvetica", sans-serif;
}

#headerlogo{
    height:38px;
    margin-top:-9px;
    display:inline-block;
}

.banner{
	font-size: 30px;
	font-style: bold;
}

#banner_text {
	margin-left: 10px;
}

@media screen and (max-width: 992px) {
	#banner_text {
		font-size:25px;
		position: relative;
		top: -2px;
	}
	#headerlogo {
		height: 30px;

	}

	.listoptions li {
		font-size: 17px;
	}

	.listoptions {
		margin-top: 2px;
	}
}