#root_body{
    background-color:#000;
    color:#000;
}

#indexpenguin{
    width:240px;
    margin-top:-20px;
    float:left;
}

#div3img{
        position: absolute;
        top:50px;
        left:150px;
        width:700px;
    }

#subsection1_1 h1{
    margin-left:290px;
    font-size:39px;
}

#subsection1_1 p{
    margin-left:290px;
    font-size:29px;
}

#small_vid{
    display:none;
}

#reg_vid{
    display:none;
}

#subsection1_2{
    position:absolute;
    right:60px;
    top:280px;
}

img {
	width: inherit;
}


html{
	padding:0px;
	margin:0px;
	background-color:#000;
}

p {
	font-size: 20px; 
    font-size: 2.2vw;
}

a:hover{
    text-decoration:none;
}

.med-opacity{
opacity:0.7;
}

h3{
    font-size:30px;
}

h1,h2,h3{
    font-weight:bold ;
}

a{
    text-decoration:none;
}
.rotate270 {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

#popup img{
    opacity:0.0;
} /* meant to show the text on the blackboard */


/* Bullet Points */
ul{
    list-style-type: none;
    padding: 0px;
    margin-top: 40px;
}

ul li{
    margin-top: 10px;
}

.bullet_text{
    vertical-align: top;
    width: 92%;
    display: inline-block;
}

.bullet_img{
    vertical-align: top;
}

.bullet_img img{
    width:25px;
    margin-top:-6px;
}

/* End Bullet Points */

input{
    line-height:30px;
    padding:5px;
    width:400px;
    font-size: 19px;
    margin-top: 10px;
    font-weight:100;
}

#index_section2{
    background-color: rgba(0, 0, 0, 0.9); 
    color:#fff; 
    position:absolute; 
    right:50px; 
    width:700px; 
    padding:40px; 
    font-family: 'Proxima Nova', sans-serif; 
    font-size:30px;
}

#index_section2 h1{
    font-size:40px;
    margin-bottom: 10px;
}

#index_section2 li{
    font-size:25px;
    margin-top:20px;
}

#index_section1{
    padding:40px; 
    padding-left:50px; 
    font-family: 'Proxima Nova', sans-serif; 
    font-size:26px;
}

#landing_top{
    color:#d2d2d2; 
    margin-top:100px; 
    margin-left:0px; 
    height:90px; 
    width:100%; 
    position:relative;;
}

#landing_mid{
    color:#d2d2d2; 
    margin-top:20px; 
    margin-left:5px; 
    height:300px; 
    width:100%; 
    position:relative; 
    font-family: 'Proxima Nova', sans-serif;
}

#hwcentraltop{
    background-color: rgba(0, 0, 0, 0.85); 
    width:740px; 
    height:700px; 
    position:absolute; 
    top:50px; 
    left:50px;
}

#horizontaldiv1{
    background-color:#409378; 
    height:800px; 
    position:relative; 
    overflow: hidden;
}

#horizontaldiv2{
    margin-top:5px; 
    position:relative; 
    overflow: hidden; 
    background-color:#008B8B;
    //background-image:url('blue_texture.png');
}

#horizontaldiv3{
    margin-top:5px; 
    position:relative; 
    overflow: hidden; 
    height:760px;
}

#horizontaldiv4{
    background-image:url('textured.png'); 
    margin-top:5px; 
    position:relative; 
    overflow: hidden; 
    text-align:center; font-family: 'Proxima Nova', sans-serif; 
    padding:40px; 
    font-size:40px; 
    color:#3B3131; 
    font-weight:bold;
}

#horizontaldiv5{
    background-color:#000;
    color:#e6e6e6;
    margin-top:5px; 
    position:relative; 
    overflow: hidden; 
    text-align:center; 
    font-family: 'Proxima Nova', sans-serif; 
    padding:40px; 
    font-size:22px;
}

#horizontaldiv5 a{
    text-decoration:none;
    color:#e6e6e6;
}

#horizontaldiv5 a:hover{
    text-decoration:underline;
}


#learnmorebutton{
    margin-left:25px; 
    border:1px solid #000; 
    width:340px; 
    padding:20px; 
    font-size:25px; 
    background-color:#008B8B; 
    color:#000;
}

#loginbutton{
    margin-left:25px; 
    border:1px solid #000; 
    width:210px; 
    padding:20px; font-size:25px; background-color:#228B22; color:#000;
}

.learn_arrow{
    width:33px;
    margin-left:5px; 
    margin-top:-4px;
}

.login_arrow{
    width:28px; 
    margin-top:-5px;
}

#hwcentraltitle{
    font-size:50px; 
    position:absolute; 
    bottom:35px;
    left:195px;
}

#hwcentraltag{
    font-size:30px; 
    position:absolute; 
    bottom:-5px; 
    left:197px;
}

#hwcentrallogo{
    width:150px; 
    height:150px; 
    position:absolute; 
    bottom:10px; 
    left:30px;
}

#landingbuttons{
    color:#d2d2d2; 
    margin-top:90px; 
    margin-left:0px; 
    height:300px; 
    width:100%; 
    position:relative; 
    font-family: 'Proxima Nova', sans-serif;
}

#landing_mid p{
    font-size:24px; 
    line-height:32px;
}

#enquiry_submit_button{
    color:#fff; 
    width:400px; 
    background-color:#000; 
    border:1px solid #000; 
    padding-left:0px; 
    padding-right: 0px;
}


@media screen and (max-width: 1650px){
    #div3img{;
        top:100px;
        left:80px;
        width:600px;
    }
}


@media screen and (max-width: 1570px){
    #reg_vid{
        display:inline;
    }

    #large_vid{
        display:none;
    }

    #subsection1_2 {
        top:350px;
    }

}

@media screen and (max-width: 1470px){
    #index_section2{
        top:0px;
        right:0px;
        height:100%;
    }

   #subsection1_1 p{
        font-size:29px;
    }

    #subsection1_1 h1{
        font-size:34px;
    }

    #indexpenguin{
    margin-top:-10px;
    }

    #div3img{;
        top:100px;
        left:30px;
        width:600px;
    }
}

@media screen and (max-width: 1350px){
    #index_section2{
        width:100%; 
        top:0px; 
        right:0px; 
        position:relative; 
        font-size:20px; 
        background-color: rgba(0, 0, 0, 0.9); 
        padding:20px;
    }

    #index_section2 h1{
        width:92%;
        font-size:35px;
        margin-left:20px;
    }

    #index_section2 li{
        width:92%;
        font-size:24px;
        margin-left:20px;
    }

    #index_section1{
        font-size:28px;
    }

    #horizontaldiv3{
        height:auto;
    }

    #div3img{
        display:none;
    }

    #indexpenguin{
    display:none;
    }

   #subsection1_1 p{
        font-size:24px;
        margin-left:0px;
    }

    #subsection1_1 h1{
        font-size:34px;
        margin-left:0px;
    }

    #subsection1_2{
    position:static;
    margin-top:30px;
    }

    #index_section1 ul{
        margin-top:20px;
    }

}


@media screen and (max-width: 1050px){

    #index_section1{
        font-size:24px;
    }

    #index_section2 h1{
        font-size:30px;
    }

    #index_section2 li{
        font-size:22px;
    }


    .indextick{
        width:28px;
        margin-top:5px;
    }

}


@media screen and (max-width: 950px){

    #hwcentrallogo{
        width:200px; 
        height:200px; 
        position:relative; 
        left:0px; 
        bottom:0px; 
        margin-top: -60px;
    }

    #landing_mid{
        height:250px;
    }

    #hwcentraltop{
        background-color: rgba(0, 0, 0, 0.85); 
        width:100%; 
        height:auto; 
        position:absolute; 
        top:0px; 
        left:0px; 
        text-align:center;
    }

    #hwcentraltitle{
        font-size:50px; 
        position:relative; 
        left:0px; 
        bottom:0px;
    }

    #hwcentraltag{
        font-size:30px; 
        position:relative; 
        left:0px; 
        bottom:0px;
    }

    #removeable{
        width:0px; 
        height:0px; 
        opacity:0.0; 
        z-index:-9999;
    }

    #landing_top{
        height: auto;
    }

    #reg_vid{
        display:none;
    }

    #small_vid{
        display:inline;
    }

    #landingbuttons{
        margin-top:-175px; 
        margin-left:0px; 
        height:300px; 
        z-index:999;
    }

    #learnmorebutton{
        margin-left:0px; 
        float:center;  
        margin-top:10px; 
        display:inline-block;  
        width:230px;
        font-size:20px;
    }

    #loginbutton{
        margin-left:25px; 
        float:center; 
        margin-top:10px; 
        display:inline-block;
        width:160px;
        font-size:20px;
    }

    .learn_arrow{
        width:28px;
    }

    .login_arrow{
        width:23px;
    }

    #horizontaldiv1{
        height:570px;
    }

    #index_section1{
        font-size:24px;
    }

    .bullet_img img{
        width:22px;
        margin-top:-6px;
    }

    #landing_mid p{
        margin-left:0px;
    }
    #horizontaldiv5{
        font-size:25px;
    }

}

@media screen and (max-width: 595px){

    #index_section2 h1{
        font-size:25px;
    }

    #index_section1{
        font-size:20px;
    }

    #small_vid{
        display:none;
    }

    #index_section2 li{
        font-size:16px;
    }

    input{
        line-height:30px;
        padding:5px;
        width:250px;
        font-size: 16px;
        margin-top: 10px;
    }

    #enquiry_submit_button{
        width:250px;
    }

    #horizontaldiv5{
        font-size:20px;
    }

    .bullet_text{
        width:82%;
    }

    .bullet_img img{
        width:18px;
        margin-top:-6px;
    }

}

@media screen and (max-width: 520px){

    #hwcentraltop{
        background-color: rgba(0, 0, 0, 0.85);
    }

    #hwcentrallogo{
        width:100px; 
        height:100px; 
        position:relative; 
        left:0px; 
        bottom:0px; 
        margin-top: -70px;
    }

    #horizontaldiv1{
        height:390px;
    }

    #hwcentraltitle{
        font-size:30px; 
        position:relative; 
        left:0px; 
        bottom:0px;
    }

    #hwcentraltag{
        font-size:20px; 
        position:relative; 
        left:0px; 
        bottom:0px; 
        margin-top:-10px;
    }

    #landing_mid{
        margin-left:-15px;
    }

    #landing_mid p{
        font-size:16px; 
        line-height:32px; 
        margin-left:15px;
    }

    #learnmorebutton{
        margin-left:0px;
        padding:10px;
    }

    #loginbutton{
        margin-left:0px;
        padding:10px;
    }

}

@media screen and (max-width: 415px){
    #horizontaldiv1{
        height:480px;
    }

    #learnmorebutton{
        margin-top:35px;
    }

}

#enquirer_form ul.errorlist {
    display: inline;
    padding: 0px;   /*override default ul style*/
}

#enquirer_form ul.errorlist li {
    position: absolute;
    list-style: none;
    color: red;
    font-style: italic;
    font-size: small;
    display: inline;
    margin-top: 27px;
    margin-left: 5px;
}

@media screen and (max-width: 700px){
    #enquirer_form ul.errorlist li {
        position: relative;
        display:block;
        margin: 0px;
    }
}