#root_body {
    padding: 0px;
    margin: 0px;
    color: #fff;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
}

a, a:hover, a:focus {
    color: #000;
    text-decoration: none;
}

a:hover {
    cursor: hand;
    cursor: pointer;
}

#top-bg-img {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -9999;
    background: url('../img/index/blackboard-dark.jpg') repeat-y;
    background-size: cover;
}

/***************

////// DIV1

***************/

#horizontaldiv1 #fronter {
    margin-left: 0px;
    padding: 100px;
    padding-top:70px;
    width: 992px;
    text-align: left;
}

#horizontaldiv1 #fronter #fronter_buttons > a:hover {
	opacity:0.8;
}

#fronter #fronter_buttons #learn_button {
    margin-left: 25px;
    padding: 20px;
    background-color: #008B8B;
}

#fronter #fronter_buttons #language_button {
    margin-left: 25px;
    padding: 20px 30px;
    background-color: #B36613;
}

#fronter #fronter_buttons #loginbutton {
    padding: 20px 40px;
    background-color: #228B22;
}

#fronter #fronter_mid {
    padding: 60px 0px 0px;
    text-align: center;
}

#fronter #fronter_mid .glyphicon {
    font-size: 100px;
}

#fronter #fronter_mid #evaluate-img1.glyphicon {
    font-size: 75px;
    top: 10px;
    left: 12px;
}

#fronter #fronter_mid #evaluate-img2.glyphicon {
    top: -20px;
    left: -13px;
}

#fronter #fronter_mid #assign-img.glyphicon, #fronter #fronter_mid #analyse-img.glyphicon {
    left: -3px;
}

#fronter #fronter_top #titletagholder {
    margin-left: -30px;
    margin-top: 20px;
}

#fronter #fronter_top #ostitle {
    font-size: 64px;
}

#fronter #fronter_top #ostag {
    font-size: 26px;
    margin-top: 10px;
}

#fronter #fronter_top #oslogo {
    width: 150px;
    height: 150px;
}

#fronter #fronter_buttons {
    margin: 0px;
    padding: 60px 0px 0px;
    font-size: 22px;
}

/***************

////// DIV2

***************/

#horizontaldiv2 {
    background-color: white;
}

#horizontaldiv2 #vid-holder {
    padding: 40px;
    max-width: 992px;
    margin: 0px auto;
}

/***************

////// DIV3

***************/

#horizontaldiv3 #drivencolumn {
    background: url("../img/index/teacher.jpg");
    background-size: cover;
    border:solid 1px #000;
}

#horizontaldiv3 #drivercolumn {
    padding: 30px 20px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.3);
}

#horizontaldiv3 #drivercolumn #quick_intro {
    font-weight: 500;
    font-size: 22px;
}

#horizontaldiv3 #drivercolumn #feature_list {
    margin-top: 25px;
    font-size: 23px;
}

#horizontaldiv3 #drivercolumn #feature_list > ul {
    padding-left: 37px;
    list-style: none;
}

#horizontaldiv3 #drivercolumn #feature_list > ul > li {
    padding: 10px 0px;
}

#horizontaldiv3 #drivercolumn #feature_list > ul > li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e233";
    font-family: 'Glyphicons Halflings';
    font-size: 25px;
    position: absolute;
    left: 21px;
    margin-top: 2px;
}

#teacher-img-mobile {
    display: none;
    max-height: 450px;
    overflow-y: hidden;
}

/***************

////// DIV4

***************/

#horizontaldiv4 {
    background-color: rgba(245, 245, 245, 0.95);
    text-align: center;
    padding: 60px 40px 30px;
}

#horizontaldiv4 > #openshiksha_img {
    height: 250px;
}

#horizontaldiv4 > #account_buttons {
    padding: 40px 0px;
    font-size: 22px;
}

#horizontaldiv4 > #account_buttons > a {
    padding: 20px 30px;
}

#horizontaldiv4 > #account_buttons > a:hover {
    opacity: 0.9;
}

#horizontaldiv4 > #account_buttons > #studentbutton {
    background-color: #39B139;
}

#horizontaldiv4 > #account_buttons > #orgbutton {
    background-color: #2BA0CC;
    margin-left: 10px;
}

#horizontaldiv4 > h1 {
    color: #000;
    margin-top: 25px;
    font-size: 32px;
}

/***************

////// DIV5

***************/

#horizontaldiv5 {
    background-color:rgba(0,0,0,0.35);
    border:solid 1px #000;
    padding: 30px 20px;
    text-align:center;
}

#horizontaldiv5 #features_title {
    font-weight: 500;
    font-size: 32px;
}

#horizontaldiv5 #feature_list {
    margin-top: 25px;
    font-size: 23px;
    text-align:left;
    position:relative;
    width:90%;
    max-width:900px;
    margin:10px auto;
}

#horizontaldiv5 #feature_list > ul {
    padding-left: 37px;
    list-style: none;
}

#horizontaldiv5 #feature_list > ul > li {
    padding: 10px 0px;
}

#horizontaldiv5 #feature_list > ul > li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e233";
    font-family: 'Glyphicons Halflings';
    font-size: 25px;
    position: absolute;
    left: 0px;
    margin-top: 2px;
}

/* EXTRA HORIZONTALDIV */

#teacher-img-mobile {
    display: none;
    max-height: 450px;
    overflow-y: hidden;
}

/***************

////// FOOTER

***************/

#footer {
    text-align: center;
    padding: 30px;
    background-color:#e6e6e6;
    color: #000;
    font-size: 22px;
}

#footer a, #footer a:hover, #footer a:focus {
    color: #000;
}

#footer a:hover {
    text-decoration: underline;
}

/***************

////// MEDIA QUERIES

***************/

@media screen and (max-width: 1450px) {
    #horizontaldiv3 #drivercolumn #quick_intro {
        font-size: 19px;
    }
}

@media screen and (max-width: 1199px) {
    #teacher-img-mobile {
        display: block;
    }

    #horizontaldiv3 #drivencolumn {
        display: none;
    }

}

@media screen and (max-width: 991px) {
    #horizontaldiv1 #fronter {
        width: 100%;
        margin: 0px;
        padding: 20px 20px 40px;
        text-align: center;
    }

    #fronter #fronter_buttons #learn_button {
	display:none;
    }

    #fronter #fronter_buttons #language_button {
	padding:20px 55px;
    }

   #horizontaldiv5 #feature_list {
	font-size:20px;
   }

    #fronter #fronter_top #titletagholder {
        margin-left: 0px;
        margin-top: 0px;
    }

    #fronter #fronter_mid {
        max-width: 550px;
        margin: 0px auto;
    }

    #horizontaldiv3 #drivercolumn #quick_intro {
        font-size: 18px;
    }

    #horizontaldiv4 h1 {
        font-size: 28px;
    }

    #horizontaldiv4 #account_buttons{
	font-size:18px;
    }

}

@media screen and (max-width: 600px) {
    #fronter #fronter_mid {
        display: none;
    }

    #fronter #fronter_top #ostitle {
        font-size: 40px;
    }

    #fronter #fronter_top #ostag {
        font-size: 22px;
    }

    #fronter #fronter_buttons #loginbutton {
        padding: 20px 30px;
        font-size: 18px;
    }

    #fronter #fronter_buttons #language_button {
        padding: 20px 40px;
        font-size: 19px;
    }

    #fronter #fronter_buttons {
        padding-top: 40px;
    }

    #horizontaldiv2 #vid-holder {
        padding: 10px;
    }

    #horizontaldiv3 #drivencolumn {
        padding: 30px 15px;
    }

    #horizontaldiv3 #drivercolumn #quick_intro {
        font-size: 19px;
    }

    #horizontaldiv4 #account_buttons #studentbutton {
        display: block;
    }

    #horizontaldiv4 #account_buttons #orgbutton {
        display: block;
        margin-left: 0px;
        margin-top: 10px;
    }

    #footer {
        font-size: 19px;
    }
}

@media screen and (max-width: 400px) {

     #fronter #fronter_buttons #loginbutton{
         display: block;
     }

     #fronter #fronter_buttons #language_button{
         display: block;
         margin-left: 0px;
         margin-top: 10px;
     }
}
