{% extends 'authenticated/assignments_table/active_student.html' %}

{% block table_help_tip %}
    {% include 'authenticated/widgets/help_tip.html' with content="This is your child's Active Assignments Table. It shows you the list of the currently active assignments of your child with their due date and completion percent. You can click on an assignment name to preview it" only %}
{% endblock table_help_tip %}

{% block subject_column_data %}
    {% include 'authenticated/widgets/parent_subjectroom_link.html' with subjectroom_urlname=assignment.subject.urlname subjectroom_id=assignment.subject.id child_id=child_id subjectroom_label=assignment.subject.label only %}
{% endblock subject_column_data %}