{% extends 'authenticated/assignments_table/base.html' %}

{% block table_header %}
    Active Assignments 
    {% block active_table_help_tip %}
    <div class='external_help_tip'>
        <p> This is your Active Assignments Table. It shows you the list of currently active assignments with their due date and completion percent. You can click on an assignment name to solve it.</p>
    </div>
    {% endblock active_table_help_tip %}
{% endblock table_header %}

{% block table_id %}
    active_assignment_table
{% endblock table_id %}

{% block suffix_column_header %}
    <th>Completion</th>
{% endblock suffix_column_header %}

{% block suffix_column_data %}
    <td>{% include 'authenticated/widgets/link.html' with title='Click to open this assignment submission' link=assignment.completion only %}</td>
{% endblock suffix_column_data %}

{% block empty_message %}
    No Active Assignments
{% endblock empty_message %}