<div class='row'>
    <h4 class="header header4">{% block table_header %}{% endblock table_header %}</h4>

    <div class="scroll">
        <table id="{% block table_id %}{% endblock table_id %}"
               class="assignment_table table table-condensed table-striped table-hover" cellspacing='0'>
            <!-- Table Header -->
            <thead>
            <tr>
                <th class="regularcol">Assignment</th>
                <th>Subject</th>
                {% block infix_column_header %}{% endblock infix_column_header %}
                <th class="regularcol">Due At</th>
                {% block suffix_column_header %}{% endblock suffix_column_header %}
            </tr>
            </thead>

            <tbody>
            {% for assignment in assignments %}
                <tr{% cycle '' ' class=\"even\"' %}>
                    <td>{% block title_column_data %}
                        {% include 'authenticated/widgets/link.html' with link=assignment.title only %}{% endblock title_column_data %}</td>
                    <td>{% block subject_column_data %}
                        {% include 'authenticated/widgets/link.html' with link=assignment.subject only %}
                        </td>{% endblock subject_column_data %}
                    {% block infix_column_data %}{% endblock infix_column_data %}
                    <td>{{ assignment.due }}</td>
                    {% block suffix_column_data %}{% endblock suffix_column_data %}
                </tr>
            {% empty %}
                <tr>
                    <td>{% block empty_message %}{% endblock empty_message %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>