{% extends 'authenticated/assignments_table/base_corrected.html' %}

{% block table_help_tip %}
    {% include 'authenticated/widgets/help_tip.html' with content="This is your Corrected Assignments Table. It shows you the list of past corrected assignments with your scores. You can click on an assignment name to view your corrected submission, the subject to go to its page and the average to view the Assignment Performance Distribution graph." only %}
{% endblock table_help_tip %}

{% block suffix_column_header_extra %}
    <th>Marks</th>
{% endblock suffix_column_header_extra %}

{% block suffix_column_data_extra %}
    <td>{% include 'authenticated/widgets/link.html' with title='View the assignment performance distribution' link=assignment.marks only %}</td>
{% endblock suffix_column_data_extra %}