<div id="student_performance_breakdown_popup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Student Performance Breakdown</h4>
        <span>
            {% include 'authenticated/widgets/help_tip.html' with content="This is the Student's Performance Breakdown. You can check the student's performance in each subject by clicking on the specified tab and the overall tab to see the student's performance across all subjects. You can further click on the bars of each graph. Click on the 'Student Performance' bar to view the student's submission for each assignment and click on the 'Class Average' bar to see the Assignment performance distribution graph." only %}
        </span>
      </div>
      <div class="modal-body">
          <div id='student_performance_breakdown_popup_body'>
                <div>
                    <ul id='subjectbar' class="subjectbar nav nav-tabs">
                        <li id="all" class="active"><a title='View overall performance across all subjects'>Overall</a></li>
                    </ul>
                </div>
                <div id="subject_performance">
                    {% include "authenticated/charts/student_performance_report.html" with context_class="popup_chart" only %}
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>