{% extends "authenticated/base.html" %}

{% load staticfiles %}
{% block authenticated_body_css %}
    <link rel="stylesheet" href="{% static "css/settings.css" %}" type="text/css"/>
{% endblock authenticated_body_css %}

{% block authenticated_body %}
    <h5 class="well col-md-10 topheader header5">Account Settings</h5>

    <div class='row'>
        {% include "authenticated/settings/common_account.html" with settings_common=vm.authenticated_body.settings_common only %}
        {% block custom_data %}{% endblock custom_data %}
        {% include "authenticated/settings/passwordemail_change.html" only %}
    </div>
    

{% endblock authenticated_body %}
