{% extends "authenticated/base.html" %}

{% load staticfiles %}
{% block title %} Settings {% endblock title %}
{% block authenticated_base_css %}
    <link rel="stylesheet" href="{% static "css/settings.css" %}" type="text/css"/>
{% endblock authenticated_base_css %}

{% block authenticated_body %}
    <h5 class="well row topheader header5">Account Settings</h5>

    <div class='row' id="settings_body">
        {% include "authenticated/settings/common_account.html" with settings_common=vm.authenticated_body.settings_common only %}
        {% block custom_data %}{% endblock custom_data %}
        {% include "authenticated/settings/password_change.html" only %}
    </div>
    

{% endblock authenticated_body %}
