.chart-container .help_tip {
    top:-30px;
    right:5px;
}

#ribbon > div.ribbon-button {
    display: inline-block;
}

#ribbon {
    padding-bottom: 5px;
}

.ribbon-button {
    margin-top: 30px;
    margin-right: 5px;
    margin-bottom: 30px;
}