.parent-child-header {
    margin-bottom:30px;
    margin-top: 30px;
    font-family: "Helvetica Neue", sans-serif;
    color: cadetblue;
    font-weight: 400;
}

#parent-home-body > .parent-child-container {
    border-top: 2px solid rgb(124, 124, 124);
    margin-top: 50px;
    padding-top: 10px;
}

#parent-home-body > .parent-child-container:first-child {
    border-top:none;
    margin-top:0px;
    padding-top: 0px;
}