.parent-child-header {
    margin-bottom:30px;
    margin-top: 30px;
    font-family: "Helvetica", sans-serif;
    color: cadetblue;
    font-weight: 400;
}

#parent-home-body > .parent-child-container {
    border-top: 2px solid rgba(124, 124, 124, 0.3);
    margin-top: 50px;
}

#parent-home-body > .parent-child-container:first-child {
    margin-top: -5px;
}