{% extends "authenticated/base.html" %}

{% load staticfiles %}

{% block authenticated_body_css %}
    <link rel="stylesheet" href="{% static "css/subject/student.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/common.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/scrolltables.css" %}" type="text/css"/>
{% endblock authenticated_body_css %}

{% block authenticated_body %}

    <h3 class="header3">Maths Overview</h3><br>

    <div class="leftstud">
        <div>
        <h3 class="header3">Subject Announcements</h3><br>

        <div class="scroll">
            <table class="announcebox" cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
                <tbody>
                    <tr>
                        <td><b>Seema Swami</b><br>12/12/2014<br><br>
                            <!---Start Message Body--->
                            This is a test message. Real messages can be as long as they need to be. This could be a
                            reminder that assignment is due or a clarification on a question. It could also be information
                            about an extension.
                            <!--End Message Body -->
                        </td>
                    </tr>
                    <tr class="even">
                        <td><b>Seema Swami</b><br>12/12/2014<br><br>
                            <!---Start Message Body--->
                            This is a test message. Real messages can be as long as they need to be. This could be a
                            reminder that assignment is due or a clarification on a question. It could also be information
                            about an extension.
                            <!--End Message Body -->
                        </td>
                    </tr>
                    <tr>
                        <td><b>Seema Swami</b><br>12/12/2014<br><br>
                            <!---Start Message Body--->
                            This is a test message. Real messages can be as long as they need to be. This could be a
                            reminder that assignment is due or a clarification on a question. It could also be information
                            about an extension.
                            <!--End Message Body -->
                        </td>
                    </tr>
                    <tr class="even">
                        <td><b>Seema Swami</b><br>12/12/2014<br><br>
                            <!---Start Message Body--->
                            This is a test message. Real messages can be as long as they need to be. This could be a
                            reminder that assignment is due or a clarification on a question. It could also be information
                            about an extension.
                            <!--End Message Body -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


        <div class="incompletebox">
            <h3 class="header3">Incomplete Assignments</h3>
            <br>

            <div class="scroll">
                <table class="incompletetable" cellspacing='0'> <!-- cellspacing='0' is important, don't change -->

                    <!-- Table Header -->
                    <thead>
                    <tr>
                        <th class="largecol">Assignment Name</th>
                        <th>Assigned</th>
                        <th>Due</th>
                        <th>Progress</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Probability Distribution</td>
                        <td>1/12/2014</td>
                        <td>12/12/2014</td>
                        <td>94%</td>
                    </tr>

                    <tr class="even">
                        <td>Bernoulli's Theorem</td>
                        <td>3/12/2014</td>
                        <td>12/12/2014</td>
                        <td>45%</td>
                    </tr>

                    <tr>
                        <td>Probability Distribution</td>
                        <td>4/12/2014</td>
                        <td>12/12/2014</td>
                        <td>94%</td>
                    </tr>

                    <tr class="even">
                        <td>Bernoulli's Theorem</td>
                        <td>6/12/2014</td>
                        <td>12/12/2014</td>
                        <td>45%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        <br>

        <div class="gradedbox">
            <h3 class="header3">Graded Assignments</h3>
            <br>

            <div class="scroll">
                <table class="gradedtable" cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

                    <!-- Table Header -->
                    <thead>
                    <tr>
                        <th class="largecol">Assignment Name</th>
                        <th>Score</th>
                        <th class="regularcol">Due Date</th>
                        <th>Report</th>
                    </tr>
                    </thead>
                    <!-- Table Header -->
                    <!-- Table Body -->
                    <tbody>
                    <tr>
                        <td>Probability Distribution</td>
                        <td>93</td>
                        <td>12/12/2014</td>
                        <td><img class="chartimg" src="{% static "img/chart.png" %}"></td>
                    </tr>

                    <tr class="even">
                        <td>Bernoulli's Theorem</td>
                        <td>97</td>
                        <td>12/12/2014</td>
                        <td><img class="chartimg" src="{% static "img/chart.png" %}"></td>
                    </tr>

                    <tr>
                        <td>Probability Distribution</td>
                        <td>94</td>
                        <td>12/12/2014</td>
                        <td><img class="chartimg" src="{% static "img/chart.png" %}"></td>
                    </tr>

                    <tr class="even">
                        <td>Bernoulli's Theorem</td>
                        <td>93</td>
                        <td>12/12/2014</td>
                        <td><img class="chartimg" src="{% static "img/chart.png" %}"></td>
                    </tr>
                    </tbody>
                    <!-- Table Body -->

                </table>
            </div>
        </div>
        <br>
    </div>

    <div class="rightstud">
        <div class="xlargebutton performance">Print Performance Report</div>
        <div>
            <script type="text/javascript"
                    src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
            <div id="chart_div" class="perfchart"></div>
            <script>
                google.setOnLoadCallback(drawChart);
                function drawChart() {
                    var data = google.visualization.arrayToDataTable([
                        ['Topic', 'Your Score', 'Class Average'],
                        ['Probability', 100, 70],
                        ['Calculus', 70, 46],
                        ['Calculus 2', 60, 96],
                        ['Statistics', 80, 76],
                        ['Geometry', 70, 46],
                        ['Arithmetic', 60, 96]
                    ]);

                    var options = {
                        legend: { position: "top" },
                        backgroundColor: { fill: 'transparent' },
                        hAxis: {
                            gridlines: {
                                color: 'transparent'
                            }
                        }
                    };

                    var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

                    chart.draw(data, options);
                }
            </script>

        </div>
    </div>
{% endblock authenticated_body %}
