{% extends "base.html" %}

{% load staticfiles %}


{% block title %} Change your Password {% endblock title %}

{% block base_css %}
    <link rel="stylesheet" href="{% static "css/password_strength.css" %}" type="text/css"/>
{% endblock base_css %}


{% block base_body %}
    <h4 class='well col-md-12'> Reset your Password</h4>
    <div class="indented_body_left">
    {% if validlink %}
         <div id='password_reset_text'> Fill in the following details to reset your password : </div>
        <form method="post">
            {# action attr not needed for form in html5 (targets same url by default) #}
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% include "authenticated/widgets/password_change.html" with form=form only %}
            <input class="hwcentral_action_button" id="password-reset-submit-button" type="submit" value="Submit"/>

            </form>
    {% else %}
        <p>This reset link is no longer valid!</p>
    {% endif %}
    </div>
{% endblock base_body %}

{% block base_js %}
    <script type="text/javascript" src="{% static "js/password_strength.js" %}"></script>
{% endblock base_js %}
