{% extends "authenticated/base.html" %}

{% load staticfiles %}
{% block title %} {{ vm.authenticated_body.subjectroom_label }} {% endblock title %}
{% block authenticated_base_css %}
    <link rel="stylesheet" href="{% static "css/subject_id.css" %}" type="text/css"/>
    {% block subject_id_css %} {% endblock subject_id_css %}
{% endblock authenticated_base_css %}


{% block authenticated_body %}
    <h5 class="topheader row well header5">{{ vm.authenticated_body.subjectroom_label }} : {{ vm.authenticated_body.subjectteacher_label }}{% block header_context %}{% endblock header_context %}</h5>
    {% block subjectroom_body %}{% endblock subjectroom_body %}
    {% include "authenticated/charts/subjectroom_assignment_performance_popup.html" only %}
    <div id='subjectroom_id' class='hidden'>{{ vm.authenticated_body.subjectroom_id }}</div>
    {% block assignments %}{% endblock assignments %}
{% endblock authenticated_body %}


{% block authenticated_base_js %}
    <script type="text/javascript" src="{% static 'js/charts/subject_id_links.js' %}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static 'js/charts/single_subjectroom_performance.js' %}"></script>
    <script type="text/javascript" src="{% static "js/charts/subjectroom_assignment_performance.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/standard_assignment_performance.js" %}"></script>
    {% block subject_id_js %}{% endblock subject_id_js %}
    <script type="text/javascript" src="{% static 'js/charts/common.js' %}"></script>
{% endblock authenticated_base_js %}