{% extends "authenticated/base.html" %}

{% load staticfiles %}
{% block authenticated_body_css %}
    {% block subjectroom_css %} {% endblock subjectroom_css %}
{% endblock authenticated_body_css %}


{% block authenticated_body %}
    {% include "authenticated/widgets/announcements_table.html" with announcements=vm.authenticated_body.announcements only %}
    {% block subjectroom_body %}{% endblock subjectroom_body %}
    <div id='subjectroom_id' class='invisible'> {{ vm.authenticated_body.subjectroom_id }}</div>
    {% block assignments %}{% endblock assignments %}
{% endblock authenticated_body %}


{% block authenticated_body_js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
     <script type="text/javascript" src="{% static 'js/charts/single_subjectroom_performance.js' %}"></script> 
    {% block subjectroom_js %}{% endblock subjectroom_js %} 
    <script type="text/javascript" src="{% static 'js/charts/graph_lib.js' %}"></script> 
{% endblock authenticated_body_js %}