{% extends "authenticated/subject_id/base.html" %}

{% load staticfiles %}

{% block subjectroom_body %}
<div class='row'>
    {% include "authenticated/charts/student_subjectroom_performance.html" only %}
</div>
{% endblock subjectroom_body %}

{% block assignments %}
    {% include "authenticated/assignments_table/active_student.html" with assignments=vm.authenticated_body.active_assignments hide_subject_column="true" only %}
    {% include "authenticated/assignments_table/corrected_student.html" with assignments=vm.authenticated_body.corrected_assignments hide_subject_column="true" only %}
{% endblock assignments %}

{% block subject_id_js %}
    <script type="text/javascript" src="{% static 'js/charts/subject_id/student.js' %}"></script>
{% endblock subject_id_js %}