{% extends "authenticated/subject_id/base.html" %}

{% load staticfiles %}

{% block subjectroom_body %}
    <div class='row'>
        {% include "authenticated/charts/teacher_subjectroom_performance.html" only %}
        {% include "authenticated/charts/standard_assignment_performance_popup.html" only %}
        {% include "authenticated/charts/student_subjectroom_performance_popup.html" only %}
    </div>
    {% include "authenticated/reportcard/subjectroom.html" with reportcard=vm.authenticated_body.reportcard only %}
{% endblock subjectroom_body %}

{% block assignments %}
        {% include "authenticated/assignments_table/uncorrected.html" with assignments=vm.authenticated_body.uncorrected_assignments only %}
        {% include "authenticated/assignments_table/corrected_teacher.html" with assignments=vm.authenticated_body.corrected_assignments only %}
{% endblock assignments %}

{% block subject_id_js %}
    <script type="text/javascript" src="{% static 'js/charts/links/subject_id.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/charts/subject_id/teacher.js' %}"></script>
{% endblock subject_id_js %}