{% extends "authenticated/base.html" %}

{% load staticfiles %}

{% block authenticated_body_css %}
    <link rel="stylesheet" href="{% static "css/scrolltables.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/common.css" %}" type="text/css"/>
{% endblock authenticated_body_css %}

{% block authenticated_body %}
        <div>
            <h3 class="header3">List of Incomplete Assignments</h3>
            <br>

            <div class="scroll bigscroll">
                <table class="fulltable" cellspacing='0'> <!-- cellspacing='0' is important, don't change -->

                    <!-- Table Header -->
                    <thead>
                    <tr>
                        <th class="largecol">Assignment Name</th>
                        <th>Subject</th>
                        <th class="regularcol">Date Assigned</th>
                        <th class="regularcol">Due Date</th>
                        <th>Progress</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Probability Distribution</td>
                        <td>Math</td>
                        <td>12/12/2014</td>
                        <td>18/12/2014</td>
                        <td>94%</td>
                    </tr>

                    <tr class="even">
                        <td>Bernoulli's Theorem</td>
                        <td>Math</td>
                        <td>12/12/2014</td>
                        <td>23/12/2014</td>
                        <td>45%</td>
                    </tr>

                    <tr>
                        <td>Probability Distribution</td>
                        <td>Math</td>
                        <td>12/12/2014</td>
                        <td>28/12/2014</td>
                        <td>94%</td>
                    </tr>

                    <tr class="even">
                        <td>Bernoulli's Theorem</td>
                        <td>Math</td>
                        <td>12/12/2014</td>
                        <td>12/12/2014</td>
                        <td>45%</td>
                    </tr>

                    <tr>
                        <td>Probability Distribution</td>
                        <td>Math</td>
                        <td>12/12/2014</td>
                        <td>12/12/2014</td>
                        <td>94%</td>
                    </tr>

                    <tr class="even">
                        <td>Bernoulli's Theorem</td>
                        <td>Math</td>
                        <td>12/12/2014</td>
                        <td>12/12/2014</td>
                        <td>45%</td>
                    </tr>
                    <tr>
                        <td>Probability Distribution</td>
                        <td>Math</td>
                        <td>12/12/2014</td>
                        <td>12/12/2014</td>
                        <td>94%</td>
                    </tr>

                    <tr class="even">
                        <td>Bernoulli's Theorem</td>
                        <td>Math</td>
                        <td>12/12/2014</td>
                        <td>12/12/2014</td>
                        <td>45%</td>
                    </tr>
                    <tr>
                        <td>Probability Distribution</td>
                        <td>Math</td>
                        <td>12/12/2014</td>
                        <td>12/12/2014</td>
                        <td>94%</td>
                    </tr>

                    <tr class="even">
                        <td>Bernoulli's Theorem</td>
                        <td>Math</td>
                        <td>12/12/2014</td>
                        <td>12/12/2014</td>
                        <td>45%</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

{% endblock authenticated_body %}

