
#body {
    min-height: 850px;
}

.announcebox {
    width: 500px;
    border-top: 1px solid #e6e6e6;
}

.incompletebox{
    margin-top:25px;
}

.gradedbox{
    margin-top:-10px;
}

.incompletetable{
    width:500px;
}

.gradedtable{
    width:500px;
}

.leftstud {
    float: left;
    max-width: 650px;
}

.rightstud {
    float: left;
    padding-left: 50px;
    width:400px;
}

.performance {
    margin-left: 10px;
    position:relative;
    z-index:2;
    background-color:#e6e6e6 !important;
    color:#000 !important;
    border:1px solid #000;
}

.performance:hover{
    background-color:#000 !important;
    color:#fff !important;
}

.perfchart {
    width: 420px;
    height: 970px;
    margin-top: -80px;
    position:relative;
    z-index:1;
}

.chartimg{
    height:40px;
}