{% extends 'edge/index/base.html' %}

{% load staticfiles %}

{% block navigation %}
    <div>{{ vm.authenticated_body.child_select }}</div>
    <div class="hidden">
        {% for subject_select in vm.authenticated_body.subject_selects %}
            {{ subject_select }}
        {% endfor %}
        {% include 'edge/index/disabled_select.html' only %}
    </div>
    <div id="subject-select-holder" class="select-holder"></div>
{% endblock navigation %}

{% block index_js %}
    <script type="text/javascript" src="{% static 'js/edge/index/parent.js' %}"></script>
{% endblock index_js %}