{% extends 'edge/index/base.html' %}

{% load staticfiles %}

{% block navigation %}
    <div>{{ vm.authenticated_body.subjectroom_select }}</div>
    <div class="hidden">
        {% for student_select in vm.authenticated_body.student_selects %}
            {{ student_select }}
        {% endfor %}
    </div>
    <div id="student-select-holder" class="select-holder"></div>
{% endblock navigation %}

{% block index_js %}
    <script type="text/javascript" src="{% static 'js/edge/index/teacher.js' %}"></script>
    {% include 'mathjax_script.html' only %}
{% endblock index_js %}

{% block custom_row %}
    <div class="row" id="questions-holder">
        <div class="row">
            <h4 class="header header4">Problematic Questions</h4>
            {% include 'authenticated/widgets/help_tip.html' with content="The questions listed below are the ones which were answered incorrectly most often by the students of the currently selected class." only %}
        </div>
        <div class="row" id="questions-row"></div>
    </div>
{% endblock custom_row %}