{# This template used for readonly assignments #}

{% extends "authenticated/base.html" %}

{% load staticfiles %}
{% block title %} Assignment {% endblock title %}

{% block authenticated_base_js %}
    {#  img reloader before mathjax to be safe because mathjax is large may take time to load #}
    <script type="text/javascript" src="{% static "js/authenticated/submission_id/img_reloader.js" %}"></script>
    {# skipping protocol so that both http and https work and using most inclusive config file #}
    {% include 'mathjax_script.html' only %}
    <script type="text/javascript" src="{% static 'js/authenticated/submission_id/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authenticated/submission_id/charm.js' %}"></script>
    {% block submission_id_js %}{% endblock submission_id_js %}
{% endblock authenticated_base_js %}

{% block authenticated_base_css %}
    <link rel="stylesheet" href="{% static "css/authenticated/submission_id/base.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/authenticated/submission_id/charm.css" %}" type="text/css"/>
    {% block submission_id_css %}{% endblock submission_id_css %}
{% endblock authenticated_base_css %}

{% block authenticated_body %}
    <div class="hidden" id="skip-global-chosen"></div>
    {% block assignment_header %}

        <h5 class="header5 topheader row well submission_header ">
            {% block corrected_submission_student %}{% endblock corrected_submission_student %}
            <span id="submission_title">{{ vm.authenticated_body.aql_info.title }}</span>
            {% block assignment_info %}
            {% if vm.authenticated_body.assignment_info %}  {# assignment info may not exist for a preview #}
                {% include 'authenticated/submission_id/assignment_info.html' with assignment_info=vm.authenticated_body.assignment_info only %}
            {% endif %}
            {% endblock assignment_info %}
        </h5>

        {% block revision_button %}
            {% include "authenticated/submission_id/show_revision_button.html" only %}
        {% endblock revision_button %}

        <div id="submission_info">
        {% block submission_info %}{% endblock submission_info %}
        </div>

        {% block revision_content %}
             {% include "modal.html" with title="Chapter Summary" content=vm.authenticated_body.revision.content modal_id="revision_modal" only %}
        {% endblock revision_content %}

    {% endblock assignment_header %}   
    <div class='row'>
        {% with form=vm.authenticated_body.form %}
            <form id={% block form_id %}{% endblock form_id %} method="post"
                    {% block form_action %}{% endblock form_action %}>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <ol class="question_list">
                    {% for question in form.submission_vm.questions %}
                        <li class="question_elem">
                            {% block question %}
                            {% include "authenticated/question/question.html" with question=question form=form question_index=forloop.counter0 only %}
                            {% endblock question %}
                        </li>
                    {% endfor %}
                </ol>
                {% block submit_button %}{% endblock submit_button %}
            </form>
        {% endwith %}
        <a id="charm-gotop" class="charm charm-bottom charm-button" title="Go To Top"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
    </div>
{% endblock authenticated_body %}
