{# This template used for readonly assignments #}

{% extends "authenticated/submission_id/root.html" %}

{% load staticfiles %}

{% block submission_id_root_js %}
    <script type="text/javascript" src="{% static 'js/authenticated/submission_id/base.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/authenticated/submission_id/charm.js' %}"></script>
    {% block submission_id_js %}{% endblock submission_id_js %}
{% endblock submission_id_root_js %}

{% block submission_id_root_css %}
    <link rel="stylesheet" href="{% static "css/authenticated/submission_id/base.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/authenticated/submission_id/charm.css" %}" type="text/css"/>
    {% block submission_id_css %}{% endblock submission_id_css %}
{% endblock submission_id_root_css %}

{% block submission_context %}

        {% block revision_button %}
            {% include "authenticated/submission_id/show_revision_button.html" only %}
        {% endblock revision_button %}

        <div id="submission_info">
        {% block submission_info %}{% endblock submission_info %}
        </div>

        {% block revision_content %}
             {% include "modal.html" with title="Chapter Summary" content=vm.authenticated_body.revision.content modal_id="revision_modal" only %}
        {% endblock revision_content %}

{% endblock submission_context %}

{% block assignment_content %}
    <div class='row'>
        {% with form=vm.authenticated_body.form %}
            <form id={% block form_id %}{% endblock form_id %} method="post"
                    {% block form_action %}{% endblock form_action %}>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <ol class="question_list">
                    {% for question in form.submission_vm.questions %}
                        <li class="question_elem">
                            {% block question %}
                            {% include "authenticated/question/question.html" with question=question form=form question_index=forloop.counter0 only %}
                            {% endblock question %}
                        </li>
                    {% endfor %}
                </ol>
                {% block submit_button %}{% endblock submit_button %}
            </form>
        {% endwith %}
        <a id="charm-gotop" class="charm charm-bottom charm-button smooth-scroll-link" title="Go To Top"
           href="body"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span></a>
    </div>
{% endblock assignment_content %}
