{% extends 'authenticated/submission_id/uncorrected.html' %}

{% load staticfiles %}

{% block uncorrected_js %}
    <script type="text/javascript" src="{% static 'js/authenticated/submission_id/practice.js' %}"></script>
{% endblock uncorrected_js %}

{% block submission_id_css %}
    <link rel="stylesheet" href="{% static "css/authenticated/submission_id/practice.css" %}" type="text/css"/>
{% endblock submission_id_css %}

{% block uncorrected_correct_button %}
    <input id="charm-correct" class="charm charm-bottom charm-button" type='submit' name='correct' value='SUBMIT'
           title="Submit your practice assignment for checking"/>
{% endblock uncorrected_correct_button %}