<div id="submission_info">
    <div id="submission_completion_progressbar">
        Homework Completion:
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{ submission_info.completion }}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{ submission_info.completion }}%">
                {{ submission_info.completion }}&#37;
            </div>
        </div>
    </div>
    <div id="submission_timestamp">
        <label>Last Submitted at:</label><span>{{ submission_info.timestamp }}</span>
    </div>
</div>