{% extends "authenticated/submission_id/base.html" %}

{% load staticfiles %}

{% block submission_id_js %}
    <script type="text/javascript" src="{% static 'js/authenticated/submission_id/uncorrected.js' %}"></script>
{% endblock submission_id_js %}

{% block submission_info %}
    {% include 'authenticated/submission_id/progressbar.html' with submission_info=vm.authenticated_body.submission_info only %}
{% endblock %}

{% block form_id %}"uncorrected_submission_form"{% endblock form_id %}
{% block form_action %}
    action="{% url form.action_url_name vm.authenticated_body.submission_id %}"
{% endblock form_action %}
{% block submit_button %}<input id="charm-save" class="charm charm-bottom charm-button" type='submit' value='SAVE'
                                title="Save your progress"/>{% endblock submit_button %}