#footer {
    background-color: #000;
    padding: 10px;
    /*border: 2px solid #888888;
    border-top-width: 0;
    border-radius: 0px 0px 5px 5px;*/
}

.footer_element {
    color: #aaa !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.copysym{
    color: #aaa !important;
}