#body {
    min-height: 700px;
    position:relative;
}

.optionsbox{
    border-top:1px solid #e6e6e6;
}

.optionsbox label{
    display:block;
    margin-top:5px;
}

input[type="radio"]{
    vertical-align:bottom;
}

.optionstd{
    width:750px;
}

.pictd{
     width:150px;
}

.scroll {
    overflow: auto;
    height: 560px;
}

.gradebox{
    position:absolute;
    top:90px;
    left:705px;
    font-size:40px;
    color:#9F000F;
    font-family: Georgia, serif;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0;
}

.seeans{
    width:160px;
    text-shadow:0px 0px 0px #000;
    margin-top:10px;
    font-size:16px;
    padding:5px;
}

.seeans:hover{
    background-color:#9F000F;
    color:#fff;
}

.optionslist div{
    margin-top:5px;
}

.incorrectans{
    font-size:18px;
    color:#9F000F;
    font-stlye:italic;
    font-weight: bold;
    margin-top:3px !important;
}

.correctans{
    font-size:18px;
    color:#669900;
    font-weight: bold;
    margin-top:-4px !important;
}

.optionslist{
    margin-left:-25px;
}

.crossmark{
    height:22px;
    vertical-align:bottom;
}

.tickmark{
    height:30px;
    vertical-align:bottom;
}

