{% extends "authenticated/base.html" %}

{% load staticfiles %}
{% block title %} Create Assignment {% endblock title %}
{% block authenticated_base_js %}
    <script type="text/javascript" src="{% static "js/pickadate/picker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pickadate/picker.date.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pickadate/picker.time.js" %}"></script>
    <script type="text/javascript" src="{% static "js/assignment.js" %}"></script>
{% endblock authenticated_base_js %}

{% block authenticated_base_css %}
    <link rel="stylesheet" href="{% static "css/assignment.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/pickadate/classic.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/pickadate/classic.date.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/pickadate/classic.time.css" %}" type="text/css"/>
{% endblock authenticated_base_css %}

{% block authenticated_body %}
    <h5 class="well row topheader header5">Assign Homework</h5>
    <div id="create_assignment" class='row'>
        {% with form=vm.authenticated_body.form %}
            <form action='{% url form.action_url_name %}' method='post'>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper pickadate" id="assigned">
                    {{ form.assigned.label_tag }} {{ form.assigned }}
                    {{ form.assigned.errors }}
                    <div class="helptext">{{ form.assigned.help_text }}</div>
                </div>
                <div class="fieldWrapper pickadate" id="due">
                    {{ form.due.label_tag }} {{ form.due }}
                    {{ form.due.errors }}
                    <div class="helptext">{{ form.due.help_text }}</div>
                </div>
                <div class="fieldWrapper">
                    {{ form.subjectroom.label_tag }} {{ form.subjectroom }}
                    {{ form.subjectroom.errors }}
                    <div class="helptext">{{ form.subjectroom.help_text }}</div>
                </div>
                <div class="fieldWrapper">
                    {{ form.question_set.label_tag }} {{ form.question_set }}
                    {{ form.question_set.errors }}
                    <div class="helptext">{{ form.question_set.help_text }}</div>
                </div>
                 <label id="assignmentDescription"> Description of Assignment:</label>
                <p id="aql_description"> {# This is where the selected aql's description will be inserted #}
                </p>
                <a title="Generate a read-only preview of the assignment in the format it will be provided to students"
                   class="no-decoration" id="preview_link" href="{% url 'assignment_preview_id' '0' %}">
                    {# 0 is placeholder , will be overwritten on page load #}
                    <button type='button' class="btn hwcentral_action_button">Preview HomeWork</button>
                </a>
                <input id='submit_button' class='btn hwcentral_action_button margin-left-neg-10 no-decoration'
                       type='submit' value='Set The Assignment'
                       title="Assign the selected question set to the selected subjectroom"/>
            </form>

            <hr>
            {% if form.question_set_override %}
                <p>Go back to assigning regular homework (question sets of same standard) <a
                        title="Click here to go back to select question sets for the chosen standard only"
                        href="{% url 'assignment' %}"><button type='button'class='override_button btn btn-info'> Questions for same standard</button></a></p>
            {% else %}
                <p>You can also assign homework using question sets for a different standard <a
                        title="Click here to assign question sets from lower standards to higher standards"
                        href="{% url 'assignment_override' %}"><button type='button' class='override_button btn btn-danger'>Questions for all standards</button></a></p>
            {% endif %}
        {% endwith %}
    </div>
{% endblock authenticated_body %}

