{% extends "authenticated/base.html" %}

{% load staticfiles %}
{% block title %} Create Assignment {% endblock title %}
{% block authenticated_base_js %}
    <script type="text/javascript" src="{% static "js/pickadate/picker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pickadate/picker.date.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pickadate/picker.time.js" %}"></script>
    <script type="text/javascript" src="{% static "js/authenticated/assignment.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax/question_set_choice_widget.js" %}"></script>
{% endblock authenticated_base_js %}

{% block authenticated_base_css %}
    <link rel="stylesheet" href="{% static "css/authenticated/assignment.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/authenticated/question_set_choice_widget.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/pickadate/classic.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/pickadate/classic.date.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/pickadate/classic.time.css" %}" type="text/css"/>
{% endblock authenticated_base_css %}

{% block authenticated_body %}
    <h5 class="well row topheader header5">Assign Homework</h5>
    <div id="create_assignment" class='row'>
        {% with form=vm.authenticated_body.form %}
            <form action='{% url form.action_url_name %}' method='post'>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper pickadate" id="assigned">
                    {{ form.assigned.label_tag }} {{ form.assigned }}
                    {{ form.assigned.errors }}
                    <div class="helptext">{{ form.assigned.help_text }}</div>
                </div>
                <div class="fieldWrapper pickadate" id="due">
                    {{ form.due.label_tag }} {{ form.due }}
                    {{ form.due.errors }}
                    <div class="helptext">{{ form.due.help_text }}</div>
                </div>
                <div class="fieldWrapper">
                    {{ form.subjectroom.label_tag }} {{ form.subjectroom }}
                    {{ form.subjectroom.errors }}
                    <div class="helptext">{{ form.subjectroom.help_text }}</div>
                </div>
                <div class="fieldWrapper">
                    {{ form.question_set.label_tag }}
                    {{ form.question_set.errors }}
                    <div id="question-set-explorer" class="row">
                        {% include 'authenticated/charts/chart_loader.html' %}
                    </div>
                    <div class="helptext">{{ form.question_set.help_text }}</div>
                    {{ form.question_set }}
                </div>

                <div id="actionrow">
                <a title="Generate a read-only preview of the assignment in the format it will be provided to students"
                   class="no-decoration hwcentral_action_button disabled_action_button" id="preview_link"
                   target="_blank">
                    Preview HomeWork
                </a>
                <input id='submit_button' class='hwcentral_action_button no-decoration'
                       type='submit' value='Set The Assignment'
                       title="Assign the selected question set to the selected subjectroom"/>
                </div>
            </form>

            <hr>
            {% if form.question_set_override %}
                <div class="hidden" id="override-active"></div>
                <p>Go back to assigning question sets for the same standard <a id="same-standard-button" class="override_button no-decoration hwcentral_action_button"
                        title="Click here to go back to select question sets for the chosen standard only"
                        href="{% url 'assignment' %}">Questions for same standard</a></p>
            {% else %}
                <p>You can also assign homework using question sets for a different standard <a
                        title="Click here to assign question sets from lower standards to higher standards" id="all-standards-button"
                        href="{% url 'assignment_override' %}" class='hwcentral_action_button no-decoration override_button'>Questions for all standards</a></p>
            {% endif %}
        {% endwith %}
    </div>
{% endblock authenticated_body %}

