{# All templates which assume the user to be authenticated should extend from this template. #}
{# It provides additional common elements like the sidebar #}

{% extends "base.html" %}

{% load staticfiles %}

{% block base_css %}
    <link rel="stylesheet" href="{% static "css/authenticated/base.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/authenticated/help_tip.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/authenticated/sidebar.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/dataTables.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/authenticated/userinfo.css" %}" type="text/css"/>
    {# So that each extending template can include its own stylesheet #}
    {% block authenticated_base_css %}{% endblock authenticated_base_css %}
{% endblock base_css %}

{% block base_js %}
    <script type="text/javascript" src="{% static "js/authenticated/img_reloader.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dataTables.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/datetime-moment.js" %}"></script>
    <script type="text/javascript" src="{% static "js/authenticated/base.js" %}"></script>
    <script type="text/javascript" src="{% static "js/authenticated/sidebar.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax/announcements.js" %}"></script>
    <script type="text/javascript" src="{% static "js/d3.min.js" %}"></script>
    {% block authenticated_base_js %}{% endblock authenticated_base_js %}
{% endblock base_js %}

{% block base_header %}
    {% include "authenticated/header.html" with userinfo=vm.userinfo only %}
{% endblock %}

{% block base_body %}
    {% block sidebar %}
        {% include "authenticated/sidebar/handler.html" with sidebar=vm.sidebar only %}
    {% endblock sidebar %}
    <div id="auth_body" class="col-md-10 col-sm-12 col-xs-12">
    {% block authenticated_body %}{% endblock authenticated_body %}
    </div>
    <div class="hidden" id="chart_loader_holder">
        {% include "authenticated/charts/chart_loader.html" only %}
    </div>
    {% include "authenticated/home/video_modal.html" with title="OpenShiksha Help Video" uri=vm.userinfo.help_uri modal_id="help_modal" only %}
{% endblock base_body %}



