{# All templates which assume the user to be authenticated should extend from this template. #}
{# It provides additional common elements like the sidebar #}

{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/authenticated_base.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/sidebar.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/dataTables.min.css" %}" type="text/css"/>
    {# So that each extending template can include its own stylesheet #}
    {% block authenticated_body_css %}{% endblock authenticated_body_css %}
{% endblock css %}

{% block js %}
    <script type="text/javascript" src="{% static "js/loading.js" %}"></script>
    <script type="text/javascript" src="{% static "js/authenticated_base.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dataTables.min.js" %}"></script>
    {% block authenticated_body_js %}{% endblock authenticated_body_js %}
{% endblock js %}

{% block body %}
    {% block sidebar %}
        {% include "authenticated/sidebar/handler.html" with sidebar=vm.sidebar only %}
    {% endblock sidebar %}
    <div id="auth_body" class="col-md-10 col-sm-10 col-xs-10">
    {% block authenticated_body %}{% endblock authenticated_body %}
    <div style="clear:both; padding-bottom:20px;"></div>
    </div>
{% endblock body %}



