{# All templates which assume the user to be authenticated should extend from this template. #}
{# It provides additional common elements like the sidebar #}

{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/scrolltables.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/common.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/sidebar.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/authenticated_body.css" %}" type="text/css"/>
    {# So that each extending template can include its own stylesheet #}
    {% block authenticated_body_css %}{% endblock authenticated_body_css %}
{% endblock css %}

{% block body %}

    {% block sidebar %}
        {% include "authenticated/sidebar/base.html" %}
    {% endblock sidebar %}

    <div id="authenticated_body">
        {% block authenticated_body %}{% endblock authenticated_body %}
    </div>

{% endblock body %}