{% extends "authenticated/base.html" %}
{% block title %} Classroom {% endblock title %}
{% load staticfiles %}
{% block authenticated_body_css %}
    {% block classroom_css %} {% endblock classroom_css %}
{% endblock authenticated_body_css %}


{% block authenticated_body %}
    <h5 class="topheader row well header5">{{ vm.authenticated_body.classroom_label }} : {{ vm.authenticated_body.classteacher_label }}</h5>
    <div style="margin-top:-30px;"></div>
    {% include "authenticated/widgets/announcements_table.html" with announcements=vm.authenticated_body.announcements only %}
    {% include "authenticated/widgets/classroom_performance.html" only %}
    <div id='classroom_id' class='hidden'> {{ vm.authenticated_body.classroom_id }}</div>
    <div id='classteacher_id' class='hidden'> {{ vm.authenticated_body.classteacher_id }}</div>
    <div class='row'>
        {% include "authenticated/reportcard/classroom.html" with reportcard=vm.authenticated_body.reportcard only %}
        {% include "authenticated/widgets/standard_chart_popup.html" only %}
        {% include "authenticated/widgets/section_chart_popup.html" only %}
        {% include "authenticated/widgets/student_performance_breakdown_popup.html" only %}
    </div>
    <div class='row'>
        {% include "authenticated/assignments_table/uncorrected.html" with assignments=vm.authenticated_body.uncorrected_assignments only %}
        {% include "authenticated/assignments_table/corrected_teacher.html" with assignments=vm.authenticated_body.corrected_assignments only %}
    </div>
{% endblock authenticated_body %}



{% block authenticated_body_js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static 'js/charts/classroom_performance_breakdown.js' %}"></script> 
    <script type="text/javascript" src="{% static "js/charts/section_assignment_performance.js" %}"></script> 
    <script type="text/javascript" src="{% static "js/charts/standard_assignment_performance.js" %}"></script> 
    <script type="text/javascript" src="{% static "js/charts/performance_breakdown.js" %}"></script> 
    <script type="text/javascript" src="{% static "js/charts/performance_report.js" %}"></script> 
    {% block classroom_js %}{% endblock classroom_js %}
    <script type="text/javascript" src="{% static 'js/charts/graph_lib.js' %}"></script> 
    
{% endblock authenticated_body_js %}