{% extends "authenticated/base.html" %}
{% block title %} {{ vm.authenticated_body.classroom_label }} {% endblock title %}
{% load staticfiles %}
{% block authenticated_base_css %}
    <link rel="stylesheet" href="{% static "css/authenticated/classroom_id.css" %}" type="text/css"/>
    {% block classroom_id_css %} {% endblock classroom_id_css %}
{% endblock authenticated_base_css %}


{% block authenticated_body %}
    <h5 class="topheader row well header5">{{ vm.authenticated_body.classroom_label }} : {{ vm.authenticated_body.classteacher_label }}</h5>
    {% include "authenticated/charts/classroom_performance.html" only %}
    <div id='classroom_id' class='hidden'> {{ vm.authenticated_body.classroom_id }}</div>
    <div id='classteacher_id' class='hidden'> {{ vm.authenticated_body.classteacher_id }}</div>
    {% include "authenticated/reportcard/classroom.html" with reportcard=vm.authenticated_body.reportcard only %}
    <div class='row'>
        {% include "authenticated/charts/standard_assignment_performance_popup.html" only %}
        {% include "authenticated/charts/assignment_completion_popup.html" only %}
        {% include "authenticated/charts/subjectroom_assignment_performance_popup.html" only %}
        {% include "authenticated/charts/student_performance_popup.html" only %}
    </div>
    <div id='assignment-tables-container'>
        {% include "authenticated/assignments_table/uncorrected.html" with assignments=vm.authenticated_body.uncorrected_assignments only %}
        {% include "authenticated/assignments_table/corrected_teacher.html" with assignments=vm.authenticated_body.corrected_assignments only %}
    </div>
{% endblock authenticated_body %}



{% block authenticated_base_js %}
    <script type="text/javascript" src="{% static 'js/charts/classroom_id.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/charts/links/classroom_id.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/charts/links/completion.js' %}"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static 'js/charts/classroom_performance_breakdown.js' %}"></script>
    <script type="text/javascript" src="{% static "js/charts/subjectroom_assignment_performance.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/assignment_completion.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/standard_assignment_performance.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/student_performance_breakdown.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/student_performance_report.js" %}"></script>
    {% block classroom_id_js %}{% endblock classroom_id_js %}
    <script type="text/javascript" src="{% static 'js/charts/links/common.js' %}"></script>
    
{% endblock authenticated_base_js %}