{% extends "authenticated/base.html" %}

{% load staticfiles %}

{% block authenticated_body_css %}
    <link rel="stylesheet" href="{% static "css/home.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/stud_dash.css" %}" type="text/css"/>
{% endblock authenticated_body_css %}

{% block authenticated_body %}

    Hello {{ user.first_name }} {{ user.last_name }}. Welcome to your HW Central dashboard.
    <br><br>

    <!-- Announcements Div --->
    <div>
        <h3 class="header3">Recent Announcements</h3><br>
            <div class="scroll">
                <table class="announcebox" cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
                    <tbody>
                        <tr>
                            <td><b>Seema Swami</b><br>12/12/2014<br><br>
                            <!---Start Message Body--->
                            This is a test message. Real messages can be as long as they need to be. This could be a reminder that assignment is due or a clarification on a question. It could also be information about an extension.
                            <!--End Message Body -->
                            </td>
                        </tr>
                        <tr class="even">
                            <td><b>Seema Swami</b><br>12/12/2014<br><br>
                            <!---Start Message Body--->
                            This is a test message. Real messages can be as long as they need to be. This could be a reminder that assignment is due or a clarification on a question. It could also be information about an extension.
                            <!--End Message Body -->
                            </td>
                        </tr>
                        <tr>
                            <td><b>Seema Swami</b><br>12/12/2014<br><br>
                            <!---Start Message Body--->
                            This is a test message. Real messages can be as long as they need to be. This could be a reminder that assignment is due or a clarification on a question. It could also be information about an extension.
                            <!--End Message Body -->
                            </td>
                        </tr>
                        <tr class="even">
                            <td><b>Seema Swami</b><br>12/12/2014<br><br>
                            <!---Start Message Body--->
                            This is a test message. Real messages can be as long as they need to be. This could be a reminder that assignment is due or a clarification on a question. It could also be information about an extension.
                            <!--End Message Body -->
                            </td>
                        </tr>
                </table>
            </div>
    </div>
    <br>

    <div class="leftstud">
        <div>
        <h3 class="header3">Incomplete Assignments</h3>
            <br>
            <div class="scroll">
                <table cellspacing='0'> <!-- cellspacing='0' is important, don't change -->

                    <!-- Table Header -->
                    <thead>
                        <tr>
                            <th class="largecol">Assignment Name</th>
                            <th>Subject</th>
                            <th class="regularcol">Due Date</th>
                            <th>Progress</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Probability Distribution</td>
                            <td>Math</td>
                            <td>12/12/2014</td>
                            <td>94%</td>
                        </tr>

                        <tr class="even">
                            <td>Bernoulli's Theorem</td>
                            <td>Math</td>
                            <td>12/12/2014</td>
                            <td>45%</td>
                        </tr>

                        <tr>
                            <td>Probability Distribution</td>
                            <td>Math</td>
                            <td>12/12/2014</td>
                            <td>94%</td>
                        </tr>

                        <tr class="even">
                            <td>Bernoulli's Theorem</td>
                            <td>Math</td>
                            <td>12/12/2014</td>
                            <td>45%</td>
                        </tr>

                        <tr>
                            <td>Probability Distribution</td>
                            <td>Math</td>
                            <td>12/12/2014</td>
                            <td>94%</td>
                        </tr>

                        <tr class="even">
                            <td>Bernoulli's Theorem</td>
                            <td>Math</td>
                            <td>12/12/2014</td>
                            <td>45%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <br>
    <br>
        <div>
            <h3 class="header3">Graded Assignments</h3>
                <br>
                <div class="scroll">
                    <table cellspacing='0'> <!-- cellspacing='0' is important, must stay -->

                        <!-- Table Header -->
                        <thead>
                            <tr>
                                <th class="largecol">Assignment Name</th>
                                <th>Subject</th>
                                <th class="regularcol">Due Date</th>
                                <th>Progress</th>
                            </tr>
                        </thead>
                        <!-- Table Header -->
                        <!-- Table Body -->
                        <tbody>
                            <tr>
                                <td>Probability Distribution</td>
                                <td>Math</td>
                                <td>12/12/2014</td>
                                <td>94%</td>
                            </tr>

                            <tr class="even">
                                <td>Bernoulli's Theorem</td>
                                <td>Math</td>
                                <td>12/12/2014</td>
                                <td>45%</td>
                            </tr>

                            <tr>
                                <td>Probability Distribution</td>
                                <td>Math</td>
                                <td>12/12/2014</td>
                                <td>94%</td>
                            </tr>

                            <tr class="even">
                                <td>Bernoulli's Theorem</td>
                                <td>Math</td>
                                <td>12/12/2014</td>
                                <td>45%</td>
                            </tr>

                            <tr>
                                <td>Probability Distribution</td>
                                <td>Math</td>
                                <td>12/12/2014</td>
                                <td>94%</td>
                            </tr>

                            <tr class="even">
                                <td>Bernoulli's Theorem</td>
                                <td>Math</td>
                                <td>12/12/2014</td>
                                <td>45%</td>
                            </tr>
                        </tbody>
                        <!-- Table Body -->

                    </table>
                </div>
        </div>
    <br>
</div>

<div class="rightstud">
    <div>

      <h3 class="header3 performance">Performance Report</h3>
      <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
      <div id="chart_div" class="perfchart"></div>
      <script>
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Subject', 'Your Score', 'Class Average'],
          ['Maths',  90,      70],
          ['English',  70,      46],
          ['Science',  60,       96],
          ['History',  80,      76],
          ['Geography',  70,      46],
          ['Economics',  60,       96]
        ]);

        var options = {
            legend: { position: "top" },
            backgroundColor: { fill:'transparent' },
            hAxis: {
                gridlines: {
                    color: 'transparent'
                }
            }
        };

        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

        chart.draw(data, options);
      }
      </script>

    </div>
</div>
{% endblock authenticated_body %}