{% extends "authenticated/base.html" %}
{% load staticfiles %}
{% block title %} Password Reset {% endblock title %}

{% block authenticated_base_css %}
    <link rel="stylesheet" href="{% static "css/password_strength.css" %}" type="text/css"/>
{% endblock authenticated_base_css %}



{% block authenticated_body %}
    <h5 class="well row topheader header5">Reset Password</h5>
    <div class='row margin-left-10'>
        {% with form=vm.authenticated_body.form %}
            <form action='{% url form.action_url_name %}' method='post'>
                <div id='password_reset_text'> Fill in the following details to change your password : </div>
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                    <label class='password_input'
                           for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}:</label>

                    <div class='input_box'>
                        {{ form.old_password }}
                    </div>
                    {% include 'authenticated/widgets/help_text.html' with field=form.old_password only %}
                    {{ form.old_password.errors }}
                </div>
                {% include "authenticated/widgets/password_change.html" with form=form only %}
                <input id="password-reset-submit-button" class="hwcentral_action_button" type='submit' value='Submit'/>
            </form>
        {% endwith %}
    </div>
{% endblock authenticated_body %}

{% block authenticated_base_js %}
    <script type="text/javascript" src="{% static "js/password_strength.js" %}"></script> 
{% endblock authenticated_base_js %}


