{% extends "base.html" %}

{% load staticfiles %}


{% block title %} Login {% endblock title %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css"/>

{% endblock base_css %}

{% block base_body %}

    <div id="login_body">

    <div id="logindiv">
            <!--- Start Code for Log In -->
        <div id="heading">
            <h2><span class="glyphicon glyphicon-log-in"></span></h2>
            <h2>LOG IN</h2>
        </div>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {% include "authenticated/widgets/form_field.html" with field=field only %}
                {% endfor %}
                <div>
                    <input id='loginbutton' type="submit" value="LOG IN" title="Click here to Login"/>
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>

            </form>

            <a title="Click here to recover your password" id="forgotpass" href=" {% url 'forgot_password' %}">Forgot
                your password?</a>

            <!--- End Code for Log In --> 
    </div>
    </div>
{% endblock base_body %}
