{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css"/>

{% endblock css %}

{% block body %}

    

    <div class="logintext">
        <div class="logindiv">
            <!--- Start Code for Log In ---->
            <h2> Log In to your HWCentral Account </h2>
        </br>

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    {% include "authenticated/widgets/form_field.html" with field=field only %}
                {% endfor %}
                <div class='loginbuttons'>
                <input type="submit" class='btn btn-lg btn-default' value="Log In"/> 
                <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </form>

            <a href=" {% url 'forgot_password' %}">Forgot your password?</a>

            <!--- End Code for Log In ----> 
        </div>
    </div>
    <div>
    <img class='loginimage' src="{% static 'img/login.jpg' %}">
    </div>
{% endblock body %}