{% extends "base.html" %}

{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css"/>

{% endblock css %}

{% block body %}

    

    <div class="logintext">
        <div class="logindiv">
            <!--- Start Code for Log In ---->
            <h2> Log In to your HWCentral Account </h2>
        </br>

            {% if form.errors %}
                {#  We use a custom error message as there are no non_field_errors for the login form  #}
                <p class="errmsg_cumulative">Login failed. Please check your username and password try again.</p>
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {% for field in form %}
                    {% include "form_field.html" %}
                {% endfor %}
                <div class='loginbuttons'>
                <input type="submit" class='btn btn-lg btn-default' value="Log In"/> 
                    <a href=" {% url 'password_reset' %}">Forgot your password?</a>
                <input type="hidden" name="next" value="{{ next }}"/>
                </div>
            </form>

            <!--- End Code for Log In ----> 
        </div>
    </div>
    <div>
    <img class='loginimage' src="{% static 'img/login.jpg' %}">
    </div>
{% endblock body %}