o{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Register {% endblock title %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"/>
{% endblock base_css %}


{% block base_body %}

    <img class="indeximg" src="{% static 'img/filler_index.jpg' %}">

    <div class="indexsum">
        <div class="regdiv">
            <!--- Start Code for Registration ---->

            {% if user_creation_form.errors or user_info_form.errors %}
                {#  We use a custom error message as there are no non_field_errors for the registration form  #}
                <p class="errmsg_cumulative">Registration failed. Please fix the errors below and try again.</p>
            {% endif %}

            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                {{ user_creation_form.non_field_errors }}
                {{ user_info_form.non_field_errors }}
                {% for field in user_creation_form %}
                    {% include "authenticated/widgets/form_field.html" with field=field only %}
                {% endfor %}
                {% for field in user_info_form %}
                    {% include "authenticated/widgets/form_field.html" with field=field only %}
                {% endfor %}

                <input type="submit" value="Register"/>
            </form>

            <!--- End Code for Registration ---->
        </div>
    </div>

{% endblock base_body %}

