a{
	color: #000000;
}

.make_announcement_button{
	margin-left: -5px !important;
}

/* Admin Table */
.class_T_Col{
	padding-left:20px !important;
}

.sub_Col{
	padding-left:40px !important;
}

.sub_T_Col{
	padding-left:20px !important;
}

.sub_T_Entry{
	padding-left:20px !important;
}

.sub_Name{
	padding-left:25px !important;
	text-decoration:underline;
}