{% extends 'authenticated/widgets/base_assignments_table.html' %}

{% block table_header %}
    Active Assignments
{% endblock table_header %}

{% block table_id %}
    active_assignment_table_{{ table_id_suffix }}
{% endblock table_id %}

{% block suffix_column_header %}
    <th>Completion</th>
{% endblock suffix_column_header %}

{% block suffix_column_data %}
    <td>{% include 'authenticated/widgets/link.html' with link=assignment.completion only %}</td>
{% endblock suffix_column_data %}

{% block empty_message %}
    No Active Assignments
{% endblock empty_message %}