<div class='col-md-10 col-sm-10 col-xs-10'>
    <div>
        <h4 class="header header4">Recent Announcements</h4><br>

        <div class="row scroll">
            <table id="announcement_table" class="table table-condensed table-striped table-hover" cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
                <thead>
                    <tr>
                        <th class="largecol">Message</th>
                        <th>Date of issue</th>
                        <th class="regularcol">Type</th>
                    </tr>
                </thead>                
                <tbody>
                    {% for announcement in vm.authenticated_body.announcements %}
                        <tr{% cycle '' ' class=\"even\"' %}>
                            <td>
                                <!---Start Message Body-->
                                {{ announcement.message }} 
                                <!--End Message Body -->
                            </td>
                            <td>
                                {{ announcement.timestamp|date:"n M Y fa" }}
                            </td>
                            <td>
                                {{ announcement.content_object }}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>
                                <b>No Announcements</b>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>