<div class='row'>
    <div>
        <h4 class="header header4">Recent Announcements 
            <div class='external_help_tip'>
                <p> These are your Recent Announcements. You can view all annoucements in this table. You can also sort annoucements by category by clicking on the up/down arrow next to the each of the categories.</p>
            </div>
        </h4>

        <div class="row scroll">
            <table id="announcement_table" class="table table-condensed table-striped table-hover" cellspacing='0'> <!-- cellspacing='0' is important, must stay -->
                <thead>
                    <tr>
                        <th class="largecol">Message</th>
                        <th>On</th>
                        <th class="regularcol">For</th>
                    </tr>
                </thead>
                <tbody>
                {% for announcement in announcements %}
                    <tr>
                            <td>
                                <!---Start Message Body-->
                                {{ announcement.message }} 
                                <!--End Message Body -->
                            </td>
                            <td>
                                {{ announcement.timestamp }}
                            </td>
                            <td>
                                {{ announcement.target }}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>
                                <b>No Announcements</b>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>