<div>
    <h4 class="header header4">List of {{ classrooms_table.school_name }} Classrooms
        <div class='external_help_tip'>
            <p> This is a list of all the classrooms in the school. You can click on each classroom to open up the classroom drop down and view each subject for that class. You can also further click on each class teacher and view the performance of the classes they teach or click on each subject and view that classrooms performance in the particular subject. </p>
        </div>
    </h4>

    <div class="row scroll">
        <table id="classroom_table" class="table table-condensed table-striped table-hover" cellspacing='0'>
            <!-- cellspacing='0' is important, must stay -->
            <thead>
                <tr>
                    <th class="largecol">Class</th>
                    <th class="largecol" colspan="2">Class Teacher</th>
                </tr>
            </thead>                
            <tbody>
            {% for row_group in classrooms_table.classroom_rows %}
                    <tr class="classroom_header">
                        <td class="largecol">{% include 'authenticated/widgets/link.html' with title='Click here to view/hide the classroom' link=row_group.classroom only %}</td>
                        <td class="largecol class_T_Col" colspan="2">{{ row_group.classteacher }}</td>
                    </tr>
                <tr class='subjectroom_header'>
                    <td class="sub_Col">Subject</td>
                    <td class="sub_T_Col">Subject Teacher</td>
                    <td>Class Average</td>
                </tr>
                {% for row in row_group.subjectroom_rows %}
                    <tr>
                        <td class="sub_Name">{% include 'authenticated/widgets/link.html' with title='Click here to go to this subject&#39;s room' link=row.name only %}</td>
                        <td class="sub_T_Entry"><a title='Click to see this teacher&#39;s classrooms performance' class='subjectroom_performance_breakdown_link'>{{ row.subjectteacher }} </a> <span class="hidden subjectteacher_id">{{ row.id }}</span></td>
                        <td>{{ row.average }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>No Subjects Registered</td>
                    </tr>
                {% endfor %}
            {% empty %}
                    <tr>
                        <td>
                            <b>No Active Classrooms</b>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>