<div class='col-md-5 col-sm-5 col-xs-5'>
            <h4 class="header header4">Graded Assignments</h4>
            <br>

            <div class="scroll">
                <table id="graded_assignment_table" class="table table-condensed table-striped table-hover" cellspacing='0'>
                    <!-- Table Header -->
                    <thead>
                    <tr>
                        <th class="largecol">Assignment Name</th>
                        <th>Subject</th>
                        <th class="regularcol">Due Date</th>
                        <th>Progress</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for assignment in graded_assignments %}
                        <tr{% cycle '' ' class=\"even\"' %}>
                            <td>{{ assignment }}</td>
                            <td>{{ assignment.subjectRoom }}</td>
                            <td>{{ assignment.due|date:"n M Y fa" }}</td>
                            <td>{{ assignment.completion }}%</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>No Graded Assignments</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
        </div>
       
        <br>
</div>