{% load staticfiles %}

{# To include this toolbox, include the widget, the js file, the css file and on every textbox which needs it enabled add class='math_toolbox_enabled' #}

<button type="button" class='btn btn-default toolbox_button'>Math Toolbox</button>

<span>
    {% include 'authenticated/widgets/help_tip.html' with content="This is the Math Toolbox. It can be used to input some standard mathemetical operations. Click on the toolbox to open it and click on a function to use. (Adds the function to last used textbox)" only %}
</span>

<div class="math_toolbox" title="The Math Toolbox">
    <img class="toolbox_option top_row" title="Cube" onclick="add_text('^3')"
         src="{% static 'img/math_toolbox/cube.png' %}">
    <img class="toolbox_option top_row" title="Cube Root" onclick="add_text('^(1/3)')"
         src="{% static 'img/math_toolbox/cube_root.png' %}">
    <img class="toolbox_option top_row" title="Division" onclick="add_text('/')"
         src="{% static 'img/math_toolbox/division.png' %}">
    <img class="toolbox_option bot_row" title="Multiplication" onclick="add_text('*')"
         src="{% static 'img/math_toolbox/multiplication.png' %}">
    <img class="toolbox_option bot_row" title="Square" onclick="add_text('^2')"
         src="{% static 'img/math_toolbox/square.png' %}">
    <img class="toolbox_option bot_row" title="Square Root" onclick="add_text('^(1/2)')"
         src="{% static 'img/math_toolbox/square_root.png' %}">
</div>
 





