{% load staticfiles %}

<button type="button" class='btn btn-default toolbox_button'>Maths Toolbox</button>
<div class="math_toolbox" title="The Math Toolbox">
    <img class="toolbox_option top_row" title="Cube" onclick="add_text('^3')"
         src="{% static 'img/math_toolbox/cube.png' %}">
    <img class="toolbox_option top_row" title="Cube Root" onclick="add_text('^(1/3)')"
         src="{% static 'img/math_toolbox/cube_root.png' %}">
    <img class="toolbox_option top_row" title="Division" onclick="add_text('/')"
         src="{% static 'img/math_toolbox/division.png' %}">
    <img class="toolbox_option bot_row" title="Multiplication" onclick="add_text('*')"
         src="{% static 'img/math_toolbox/multiplication.png' %}">
    <img class="toolbox_option bot_row" title="Square" onclick="add_text('^2')"
         src="{% static 'img/math_toolbox/square.png' %}">
    <img class="toolbox_option bot_row" title="Square Root" onclick="add_text('^(1/2)')"
         src="{% static 'img/math_toolbox/square_root.png' %}">
</div>
 





