<div class="fieldWrapper">
    {{ form.new_password1.errors }}
    <label for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}:</label>
    <div class='input_box'>
        {{ form.new_password1 }}
        <span id='result'></span> {# used by js code to give user password strength feedback #}
    </div>
    {% include 'authenticated/widgets/help_text.html' with field=form.new_password1 only %}
</div>
<br>
<div class="fieldWrapper">
    {{ form.new_password2.errors }}
    <label for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}:</label>
    <div class='input_box'>
        {{ form.new_password2 }}
    </div>
    {% include 'authenticated/widgets/help_text.html' with field=form.new_password2 only %}
</div>



