<div class="printable_report">
    <h4 class="header perf header4">{{ name }}&#39;s Performance</h4>
        <p> 
    Statistics is the study of the collection, analysis, interpretation, presentation, and organization of data.
    [1] In applying statistics to, e.g., a scientific, industrial, or societal problem, it is conventional to 
    begin with a statistical population or a statistical model process to be studied. Populations can be diverse 
    topics such as "all persons living in a country" or "every atom composing a crystal". Statistics deals with 
    all aspects of data including the planning of data collection in terms of the design of surveys and experiments.[1]
</p>
<p>
    When census data cannot be collected, statisticians collect data by developing specific experiment designs and survey samples. Representative sampling assures that inferences and conclusions can safely extend from the sample to the population as a whole. An experimental study involves taking measurements of the system under study, manipulating the system, and then taking additional measurements using the same procedure to determine if the manipulation has modified the values of the measurements. In contrast, an observational study does not involve experimental manipulation.
</p>
<p>
Two main statistical methodologies are used in data analysis: descriptive statistics, which summarizes data from a sample using indexes such as the mean or standard deviation, and inferential statistics, which draws conclusions from data that are subject to random variation (e.g., observational errors, sampling variation).[2] Descriptive statistics are most often concerned with two sets of properties of a distribution (sample or population): central tendency (or location) seeks to characterize the distribution's central or typical value, while dispersion (or variability) characterizes the extent to which members of the distribution depart from its center and each other. Inferences on mathematical statistics are made under the framework of probability theory, which deals with the analysis of random phenomena.
</p>
    <br>
    <div id='printable_performance_breakdown'>
        <div id="printable_subject_performance">
            <h5 class="header printperf header5">{{ name }}&#39;s Performance Report</h5>
            {% include "authenticated/charts/printable_performance_report.html" only %}
            <h5 class="header printperf header6">{{ name }}&#39;s Performance Breakdown</h5>
        </div>
    </div>
</div>