<div id="subjectroom_performance_popup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="subjectroom_chart_popup modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Student Performance Report</h4>
        <span>
            {% include 'authenticated/widgets/help_tip.html' with content="This is the Student's Performance in this subject. You can further click on the bars of each graph. Click on the 'Student Score' bar to view the student's submission in each assignment and click on the 'Class Average' bar to see the Assignment performance distribution graph." only %}
        </span>

      </div>
      <div class="modal-body">
          {% include "authenticated/charts/subjectroom_performance.html" only %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>