<div id="subjectroom_assignment_chart_popup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> Assignment Performance Distribution</h4>
        <span>
            {% include 'authenticated/widgets/help_tip.html' with content="This is the Assignment Performance Distribution graph. It shows a histogram of the entire subjectroom&#39;s performance in this assignment. <div class='important'>For TEACHER/ADMIN:</div> Clicking on the bars of the histogram will take you to each student&#39;s individual assignment submission for further review"|safe only %}
        </span>
      </div>
      <div class="modal-body">
          {% include "authenticated/charts/subjectroom_assignment_performance.html" only %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>