<div id="teacher_performance_breakdown_popup" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"> Teacher Performance breakdown  
          <div class='external_help_tip'>
            <p> This is the Teachers's Performance Breakdown. You can check teacher's performance in each classroom by clicking on the specified tab.
            You can further click on the bars of each graph. Click on the teacher's 'Section Average' bar to view the Section Assignment Performance Distribution graph in each assignment and click on the 'Class Average' bar to see the Standard Assignment performance distribution graph. </p>
          </div>
        </h4>
      </div>
      <div class="modal-body">
          {% include "authenticated/charts/subjectroom_performance_breakdown_popup.html" only %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>