<div class='col-md-10 col-sm-10 col-xs-10'>
    <div>
        <h4 class="header header4">List of {{ teachers_table.school_name }} Teachers</h4><br>

        <div class="row scroll">
            <table id="teachers_table" class="table table-condensed table-striped table-hover" cellspacing='0'>
                <!-- cellspacing='0' is important, must stay -->
                <thead>
                    <tr>
                        <th class="largecol">Class</th>
                        <th class="regularcol" colspan="2">Class Teacher</th>
                    </tr>
                </thead>                
                <tbody>
                {% for row_group in teachers_table.classroom_rows %}
                        <tr{% cycle '' ' class=\"even\"' %}>
                            <td class="largecol">{% include 'authenticated/widgets/link.html' with link=row_group.classroom only %}</td>
                            <td class="largecol" colspan="2">{{ row_group.classteacher }}</td>
                        </tr>
                    <tr>
                        <td>Subject</td>
                        <td>Subject Teacher</td>
                        <td>Class Average</td>
                    </tr>
                    {% for row in row_group.subjectroom_rows %}
                        <tr>
                            <td>{% include 'authenticated/widgets/link.html' with link=row.name only %}</td>
                            <td>{{ row.subjectteacher }}</td>
                            <td>{{ row.average }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td>No Subjects Registered</td>
                        </tr>
                    {% endfor %}
                {% empty %}
                        <tr>
                            <td>
                                <b>No Active Classrooms</b>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>