<h4 class='reportcard_header header header4'> Individual Performance </h4>
<table class="reportcard" id="classroom_reportcard">
    <thead>
    <tr>
        <th>Student</th>
        {% for subject in reportcard.subjects %}
            <th>{{ subject.name }}</th>
        {% endfor %}
        <th>Aggregate</th>
    </tr>
    <tr>
        <th></th>
        {% for subject in reportcard.subjects %}
            <th class='subject_teacher'>{% include 'authenticated/widgets/link.html' with title='Click to see this teacher&#39;s subject&#39;s room' link=subject.teacher only %}</th>
        {% endfor %}
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for row in reportcard.rows %}
        <tr>
            <td><a title='Click to see this student&#39;s overall performance' class='student_performance_breakdown_link'>{{ row.name }}</a><span class="hidden stud_id">{{ row.student_id }}</span></td>
            {% for average in row.averages %}
                <td>{{ average }}</td>
            {% endfor %}
            <td><a title='Click to see this student&#39;s overall performance' class='student_performance_breakdown_link'> {{ row.aggregate }} </a> </td>
        </tr>
    {% endfor %}
    <tr class="class_average">
        <td>Class Average</td>
        {% for average in reportcard.classroom_averages_by_subject %}
            <td>{{ average }}</td>
        {% endfor %}
        <td>{{ reportcard.classroom_average }} </td>
        <!-- span put to make sure datatables can sort -->
    </tr>
    </tbody>
</table>