{% extends 'authenticated/reportcard/base.html' %}

{% block reportcard_type %}Classroom{% endblock reportcard_type %}

{% block reportcard_help_tip %}
    {% include 'authenticated/widgets/help_tip.html' with content="This is the Classroom Report Card. You can check each student's performance breakdown by clicking on the students name or overall average. You can also click on the teacher's name to view that teachers subject performance in this class." only %}
{% endblock reportcard_help_tip %}


{% block reportcard_table_id %}classroom_reportcard{% endblock reportcard_table_id %}

{% block reportcard_table_head %}
    <tr>
        <th>Student</th>
        {% for subject in reportcard.subjects %}
            <th>{{ subject.name }}</th>
        {% endfor %}
        <th>Aggregate</th>
    </tr>
{% endblock reportcard_table_head %}

{% block reportcard_table_body %}
    {% for row in reportcard.rows %}
        <tr>
            <td><a title='View this student&#39;s performance'
                   class='student_performance_breakdown_link'>{{ row.name }}</a><span
                    class="hidden student_id">{{ row.student_id }}</span></td>
            {% for average in row.averages %}
                <td>{{ average }}</td>
            {% endfor %}
            <td><a title='View this student&#39;s performance'
                   class='student_performance_breakdown_link'> {{ row.aggregate }} </a></td>
        </tr>
    {% endfor %}
    <tr class="class_average">
        <td>Class Average</td>
        {% for average in reportcard.classroom_averages_by_subject %}
            <td>{{ average }}</td>
        {% endfor %}
        <td>{{ reportcard.classroom_average }} </td>
    </tr>
{% endblock reportcard_table_body %}

