{% extends 'authenticated/reportcard/base.html' %}

{% load core_extras %}

{% block reportcard_type %}{{ target|title }}room{% endblock reportcard_type %}

{% block reportcard_help_tip %}
    {% include 'authenticated/widgets/help_tip.html' with content="This is the "|add_str:target|title|add_str:"room's Report Card. You can check each student's performance by clicking on the student's name or overall average." only %}
{% endblock reportcard_help_tip %}

{% block reportcard_table_id %}{{ target }}room_reportcard{% endblock reportcard_table_id %}

{% block reportcard_table_head %}
    <tr>
        <th>Student</th>
        <th>Average</th>
    </tr>
{% endblock reportcard_table_head %}

{% block reportcard_table_body %}
    {% for reportcard_row in reportcard.rows %}
        <tr>
            <td><a title='View this student&#39;s performance in this {{ target|title }}room'
                   class='student_{{ target }}room_performance_link'>{{ reportcard_row.name }} </a><span
                    class="hidden student_id">{{ reportcard_row.student_id }}</span></td>
            <td><a title='View this student&#39;s performance in this {{ target|title }}room'
                   class='student_{{ target }}room_performance_link'>{{ reportcard_row.average }}</a></td>
        </tr>
    {% endfor %}
    <tr class='class_average'>
        <td>Class Average</td>
        <td>{{ reportcard.room_average }}</td>
    </tr>
{% endblock reportcard_table_body %}
