<h4 class='reportcard_header header header4'> Individual Performance </h4>
<table class="reportcard" id="subjectroom_reportcard">
    <thead>
    <tr>
        <th>Student</th>
        <th>Average</th>
    </tr>
    </thead>
    <tbody>
    {% for reportcard_row in reportcard.rows %}
        <tr>
            <td> <a class='student_subjectroom_performance_link'>{{ reportcard_row.name }} </a></td>
            <td><a class='student_subjectroom_performance_link'>{{ reportcard_row.average }}</a></td><span class="hidden student_id">{{ reportcard_row.student_id }}</span>
        </tr>
    {% endfor %}
    <tr class='class_average'>
        <td>Class Average</td>
        <td>{{ reportcard.subjectroom_average }}<span class="datatables_workaround hidden">00</span></td>
        <!-- span put to make sure datatables can sort this -->
    </tr>
    </tbody>
</table>