<div class="sidebar-offcanvas">
	<div class="well col-md-2 col-sm-2 col-xs-2" id="sidebar">
	    <ul class="nav nav-tabs nav-stacked">
	        {% block userinfo %}
                <div id="userinfo">
                    {% include "authenticated/sidebar/userinfo.html" with userinfo=sidebar.userinfo only %}
                    {% block custom_userinfo %} {% endblock %}
                </div>
            {% endblock %}
    		{% block sidebar_content %} {% endblock %}
        </ul>
    <div id="emptyspace"></div>
    </div>
</div>
 

