{% load core_extras %}

<div id="listings">
	{% for listing in listings %}
		<div class="listing">
            <h6 class="sidebarheader header">{{ listing.title }}</h6>
		    {% for element in listing.elements %}
		        <div class="listing_element">
                    {% block listing_link %}
                        {% include 'authenticated/widgets/link.html' with title="Go to "|add_str:element.label link=element only %}
                    {% endblock listing_link %}
                </div>
		    {% endfor %}
		</div>
	{% endfor %}
</div>
	