{% load core_extras %}

<div id="listings">
	{% for listing in listings %}
		<div class="listing">
		   	<h6 class="sidebarheader header6">{{ listing.title }}</h6>
		    {% for element in listing.elements %}
		        <div class="listing_element">
                    {% block sub_sidebar_listing_link %}
                        <p>{% include 'authenticated/widgets/link.html' with title="Go to "|add_str:element.label urlname=listing.urlname link=element only %}</p>
                    {% endblock sub_sidebar_listing_link %}
                </div>
		    {% endfor %}
		</div>
	{% endfor %}
</div>
	