{% extends "authenticated/sidebar/base.html" %}
{% block sidebar_content %}
    {% for child_info, child_sidebar in sidebar.child_sidebars %}
        <div class="child_sidebar">
            <div class="child_info">
                {% include "authenticated/sidebar/childinfo.html" with child_info=child_info only %}
            </div>
            {% include "authenticated/sidebar/child.html"  with child_sidebar=child_sidebar child_id=child_info.user_id only %}
        </div>
    {% endfor %}
{% endblock sidebar_content %}
{% block sidebar_listings %}{% endblock sidebar_listings %}
