{% extends "authenticated/sidebar/base.html" %}
{% block sidebar_content %}
    {% if sidebar.classroom_listings %}
        <div><h6 class="sidebarheader header6">Class Rooms:</h6><br>
            {% for listing in sidebar.classroom_listings %}
                {% for element in listing.elements %}
                    <a>{{ element.label }}</a> <br>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}


    {% if sidebar.subject_listings %}
        <div><h6 class="sidebarheader header6">Subject Rooms:</h6><br>
            {% for listing in sidebar.subject_listings %}
                {% for element in listing.elements %}
                    <a>{{ element.label }}</a><br>
                {% endfor %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock sidebar_content %}