{% extends "base.html" %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css"/> 
{% endblock css %}
{% block body %}

    <p class="intro">HomeWork Central was founded in the summer of 2013 by a group of young entrepreneurs committed to
        create an online tool for homework and learning in India. It is currently under development and scheduled for a
        beta launch in January 2014.</p>

    <h2 class="section-heading">Meet Our Team</h2>

    <hr class="section-divider">

    <div class="featurette">
        <img class="left-align team-member-image" src="{% static 'img/Sharang.jpg' %}" >

        <h3>Sharang Pai</h3>

        <p>Sharang currently studies in the 11th grade and is very interested in the applications of online games as
            educational tools. He founded HomeWork Central to create an accessible, high quality tool that could
            supplement primary and secondary education in India.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="left-align team-member-image" src="{% static 'img/Oasis.jpg' %}" >

        <h3>Oasis Vali</h3>

        <p>Oasis is a fourth year student at the University of Waterloo studying 'Mechatronics'. He is passionate about
            integrating technology with the educational system and, having grown up in India, is familiar with the
            system. He also has a lot of previous experience working on back-end web applications.</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
        <img class="left-align team-member-image" src="{% static 'img/Sidhant.jpg' %}">

        <h3>Sidhant Pai</h3>

        <p>Sidhant is a fourth year student at the Massachusetts Institute of Technology and is very interested in
            integrating informal teaching techniques with mainstream education in India. Born and raised in India, he is
            very familiar with the system and also has previous experience in teaching roles.</p>
    </div>

{% endblock body %}