{% extends "base.html" %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css"/> 
{% endblock css %}
{% block body %}
    <h1 class="well">About Us</h1>
    <p class='about'> HWCentral is an Internet platform built specifically to improve how students learn outside of the classroom. It streamlines how home work is assigned and corrected, freeing up teachers and schools to focus on what they do best - teaching.
    Targeted questions, an expansive question bank and an immersive interface allow schools to reduce repetitive correction and concentrate on educating and evaluating their students. The platform also uses state of the art analytics to provide teachers and parents with a detailed understanding of student weaknesses and how they can be corrected.</p>

    <p class='lead'>Education just entered the 21st century.</p>

    <h2 class="well">Meet Our Team</h2>
        <div class='row'>
            <div class='col-md-4'>
                <img class="founder_image" src="{% static 'img/about/Sidhant.jpg' %}">
                <h4>Sidhant Pai</h4>

                <p>Sidhant is a fourth year student at the Massachusetts Institute of Technology and is very interested in
                    integrating informal teaching techniques with mainstream education in India. Born and raised in India, he is
                    very familiar with the system and also has previous experience in teaching roles.</p>

            </div>
        
            
            <div class='col-md-4'>
                <img class="founder_image" src="{% static 'img/about/Oasis.jpg' %}" >
                <h4>Oasis Vali</h4>

                <p>Oasis is a fourth year student at the University of Waterloo studying 'Mechatronics'. He is passionate about
                    integrating technology with the educational system and, having grown up in India, is familiar with the
                    system. He also has a lot of previous experience working on back-end web applications.</p>
            </div>  


            <div class='col-md-4'>
                <img class="founder_image" src="{% static 'img/about/Sharang.jpg' %}" >
                <h4>Sharang Pai</h4>

                <p>Sharang is a Delhi Public School, Pune alumnus as well as ex-Headboy and has always been interested in applications of online games as educational tools. As a co-founder of Homework Central, he aims to integrate technology with education to build a high quality tool that could supplement primary and secondary education in India. Having graduated through high school in India, he wants to eliminate the existing problems and build on the current system to make learning more interactive and complete.  </p>

            </div>
        </div>
    <div class='row'>
        <div class='col-md-6'>
            <img class="intern_image" src="{% static 'img/about/Hrishikesh.jpg' %}">
            <h4>Hrishikesh Rao</h4>

            <p>Hrishikesh is a fourth year student at the Manipal Institute of Technology, pursuing Mechatronics Engineering. He is interested in the way humans interact with technology. He has experience in developing E-learning websites to provide tutorials in selected fields. Familiar with the Indian education system, he is passionate to merge the model of E-learning with the stability of our education system.</p>

            </div>
        <div class='col-md-6'>
            <img class="intern_image" src="{% static 'img/about/Pujan.jpg' %}">
            <h4>Pujan Parikh</h4>

            <p>Pujan is a Delhi Public School, Pune alumnus. Ever since an early age, he has been inclined towards the world of writing and literature and wishes to pursue it as a career. Having studied a great deal about computers and other technological phenomena throughout his school life, he aims to help HWCentral reach its goal and give its users the best they deserve.</p>

            </div>
    </div>
{% endblock body %}