{% extends "base.html" %}

{% load staticfiles %}

{% block base_css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css"/>
{% endblock base_css %}

{% block title %}
    About Us
{% endblock title %}

{% block meta %}
    <meta name="description"
          content="Sidhant Pai&#39; Oasis Vali and Sharang Pai&#39; are the co-founders of OpenShiksha&#46; Together the OpenShiksha team brings to the table a first-hand understanding of the Indian education system&#39; a passion for technology&#39; entrepreneurship experience and web service development expertise."/>
{% endblock meta %}

{% block base_header %}
    {% include "header_login.html" only %}
{% endblock base_header %}

{% block base_body %}
    <h2 class="well about_header">Founding Team</h2>
        <div class='row founder_info'>

            <div class='col-md-4'>
                <img class="founder_image" src="{% static 'img/about/Oasis_Vali.jpg' %}" >
                <h4>Oasis Vali</h4>

                <p>Oasis is a software developer interested in large-scale web service architecture with prior experience designing, deploying and maintaining low latency web services. He holds a Bachelor's degree in Mechatronics Engineering from the University of Waterloo and is interested in online education systems.</p>
            </div>  

            <div class='col-md-4'>
                <img class="founder_image" src="{% static 'img/about/Sidhant_Pai.jpg' %}">
                <h4>Sidhant Pai</h4>

                <p>Sidhant holds a Bachelor's degree from the Massachusetts Institute of Technology and has a background in social enterprise and international development. He is keenly interested in the application of advanced analytics to improve educational outcomes and has prior experience with modelling systems.</p>

            </div>
        


            <div class='col-md-4'>
                <img class="founder_image" src="{% static 'img/about/Sharang_Pai.jpg' %}" >
                <h4>Sharang Pai</h4>

                <p>Sharang has a focused background in front-end web development and is interested in creating integrated and immersive online educational environments. He has prior experience with game design and game testing and is also interested in developing interactive educational tools for school students</p>

            </div>
        </div>
{% endblock base_body %}