<!DOCTYPE html>

<html lang="en">
<head>

    {% load staticfiles %}

    <!-- Title -->

    <title>{% block title %}HW Central{% endblock title %}</title>

    <!-- Meta -->

    {% include "base_meta.html" %}
    {% block meta %}{% endblock meta %}

    <!-- Favicon -->

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"/>

    <!-- Styles -->

    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css"/>

    <link rel="stylesheet" href="{% static 'css/header/header.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/header/banner.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/header/user_context_box.css' %}" type="text/css"/>

    <link rel="stylesheet" href="{% static 'css/footer/footer.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/footer/copyright.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/footer/additional_info_box.css' %}" type="text/css"/>

    <link rel="stylesheet" href="{% static 'css/chosen/chosen.css' %}" type="text/css"/>
    {% block css %}{% endblock css %}

</head>

<body>
<div id="container">

    <!-- Header -->

    {% block header %}
        {% include "header.html" %}
    {% endblock header %}

    <!-- Body -->

    <div id="body">
        {% block body %}{% endblock body %}
    </div>

    <!-- Footer -->

    {% block footer %}
        {% include "footer.html" %}
    {% endblock footer %}

    <!-- Scripts -->

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chosen/chosen.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% block js %}{% endblock js %}

</div>
</body>
</html>