{% extends 'root.html' %}

{% load staticfiles %}

{% block root_css %}

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/header.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/chosen/chosen.min.css' %}" type="text/css"/>
    {% block base_css %}{% endblock base_css %}
{% endblock root_css %}

{% block root_js %}
    <script type="text/javascript" src="{% static 'js/chosen.min.js' %}"></script>
    <script type="text/javascript" src="{% static "js/constants.js" %}"></script>
    <script type="text/javascript" src="{% static "js/helpers.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>

    {% block base_js %}{% endblock base_js %}
{% endblock root_js %}

{% block root_body %}

    <!-- Header -->
    {% block base_header %}
        {% include "header.html" only%}
    {% endblock base_header %}

    <!-- Body -->

    <div id='base_body' class="row">
        {% block base_body %}{% endblock base_body %}
    </div>

    <!-- Footer -->
    {% block base_footer %}
        {% include 'footer.html' with CONTACT_EMAIL=CONTACT_EMAIL CONTACT_PHONE=CONTACT_PHONE only %}
    {% endblock base_footer %}

{% endblock root_body %}