<nav id='footer' class='navbar navbar-inverse navbar-static-bottom'>

<div class="container-fluid">
	<div class="navbar-header">
        <a title="Return to home page" class='indented_body_right navbar-brand' href="{% url 'index' %}">&copy;
            HomeWork Central 2015</a>
	</div>

    <ul class='navbar-right nav navbar-nav footer'>
        <li><a title="Click here to email us!" href="mailto:contact@hwcentral.in">Email : contact@hwcentral.in </a></li>
        <li><a title="Click here to call us!" href="tel:+917057216343">Phone: +91 7057216343 </a></li>
    </ul>

</div> <!--- End Fluid-->
</nav>