{% load staticfiles %}
<nav class='navbar navbar-inverse navbar-fixed-top'>

<div class="container-fluid">
	<div class="navbar-header">
    <!-- Brand and toggle get grouped for better mobile display -->
        {% block header_toggle %}{% endblock header_toggle %}

        <a title="Return to home page" class='navbar-brand banner white' href="{% url 'index' %}">
            <img id="headerlogo" src="{% static 'img/logo_inverted.png' %}"><span
                id="banner_text">OpenShiksha</span></a>
	</div>

	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    {% block header_dynamic %}
		    {% endblock header_dynamic %}
    </div><!-- /.navbar-collapse -->

</div> <!--- End Fluid-->
</nav>