{% extends 'root.html' %}

{% load staticfiles %}

{% block title %}Adaptive Learning and Educational Analytics{% endblock title %}

{% block meta %}
    <meta name="description"
          content="Homework Central provides schools with an online platform for students to complete their homework. Adaptive, comprehensive question banks and automatic correction provide teachers with more time to teach concepts and solve doubts and advanced analytics allow for a targeted approach to improve learning outcomes."/>
{% endblock meta %}

{% block root_js %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock root_js %}

{% block root_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
{% endblock root_css %}

{% block root_body %}
    <div id="top-bg-img">

    </div>

    <div id="horizontaldiv1" class="horizontaldiv">
        <div id="fronter" class="container">
            <div id="fronter_top" class="row">
                <div class="col-lg-3 col-md-3">
                    <img id="hwcentrallogo" src="{% static 'img/index/logo_inverted.png' %}">
                </div>
                <div class="col-lg-9 col-md-9" id="titletagholder">
                    <h1 id="hwcentraltitle">Homework Central</h1>
                    <h2 id="hwcentraltag">Adaptive Learning and Educational Analytics</h2>
                </div>
            </div>

            <div id="fronter_mid" class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <div>
                        <span id="assign-img" class="glyphicon glyphicon-hand-up"></span>
                    </div>
                    <div>
                        <h3 class='key-word' id="assign-word">ASSIGN</h3>
                    </div>
                </div>
                {#                purposely skipping one bootstrap column for better alignment#}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div>
                        <span id="evaluate-img1" class="glyphicon glyphicon-cog"></span>
                        <span id="evaluate-img2" class="glyphicon glyphicon-cog"></span>
                    </div>
                    <div>
                        <h3 class='key-word' id="evaluate-word">EVALUATE</h3>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <div>
                        <span id="analyse-img" class="glyphicon glyphicon-signal"></span>
                    </div>
                    <div>
                        <h3 class='key-word' id="analyse-word">ANALYSE</h3>
                    </div>
                </div>
            </div>

            <div id="fronter_buttons" class="row">
                <a title="Go to login" href="{% url 'login' %}" id="loginbutton">
                    LOG IN
                </a>
                <a title="Contact Us" href="#contact-us" id="contactus_button" class="smooth-scroll-link">
                    CONTACT US
                </a>
            </div>
        </div>
    </div>


    <div id="horizontaldiv2" class="horizontaldiv">
        <div id="vid-holder">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe id="iframe-vid" class="embed-responsive-item"
                        src="https://www.youtube.com/embed/B8vsAf7zxVE?rel=0&amp;showinfo=0" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>

    {#    hidden image which pops up on smaller screens to have better control over sizing#}
    <div id="teacher-img-mobile" class="horizontaldiv">
        <img class="img-responsive" src="{% static 'img/index/teacher.jpg' %}">
    </div>

    <div id="horizontaldiv3" class="horizontaldiv container-fluid">
        <div class="row">
            <div class="col-lg-6" id="drivencolumn">
            </div>
            <div class="col-lg-6" id="drivercolumn">
                <div id="quick_intro">
                    Homework Central is an adaptive online learning platform that improves
                    concept retention and learning outcomes for students.
                </div>
                <div id="feature_list">
                    <ul>
                        <li>Automated correction means no more repetitive, time consuming correction for teachers.</li>
                        <li>Advanced analytics identify student strengths and weaknesses and provide detailed
                            insights.
                        </li>
                        <li>High quality personalized questions target specific learning outcomes.</li>
                        <li>Statistical tools track class performance and identify areas of improvement.</li>
                        <li>Plagiarism detection and formulaic questions prevent student copying and allow for unlimited
                            practice.
                        </li>
                        <li>Auto-generated report cards and a dedicated parent interface facilitate parent-school
                            interaction.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <a id="contact-us"></a>
    <div id="horizontaldiv4" class="horizontaldiv">
        <h1>TRY HOMEWORK CENTRAL FOR FREE!</h1>
        {% include "enquirer_form.html" with form=vm.form csrf_token=csrf_token only %}
    </div>


    <div id="footer">
        <a title="Click here to email us!" href="mailto:{{ CONTACT_EMAIL }}" target="_top">{{ CONTACT_EMAIL }}</a> | <a
            title="Click here to call us!" href="tel:+91{{ SALES_PHONE }}">+91&nbsp;{{ SALES_PHONE }}</a>
        <div>
            &copy; {% now "Y" %} Homework Central
        </div>

    </div>

{% endblock root_body %}
