{% extends 'root.html' %}

{% load staticfiles %}

{% block title %}Adaptive Learning and Educational Analytics{% endblock title %}

{% block meta %}
    <meta name="description"
          content="OpenShiksha is a non-profit education platform designed to improve concept retention and learning outcomes for school students in India. It uses a targeted, data-driven approach and is powered by an open-source code base. Accounts are provided for parents, teachers, students and administrators. OpenShiksha also uses its extensive question bank and question generation algorithm to create adaptive, unlimited homework which discourages plagiarism and allows the platform to conduct personalized assessment. The automatic homework correction provides the platform with data on student strengths and weaknesses from which advanced analytics relay insights to all the stakeholders."/>
{% endblock meta %}

{% block root_js %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index_translate.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/language.js' %}"></script>
{% endblock root_js %}

{% block root_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
{% endblock root_css %}

{% block root_body %}
    <div id="top-bg-img">

    </div>

    <div id="horizontaldiv1" class="horizontaldiv">
        <div id="fronter" class="container">
            <div id="fronter_top" class="row">
                <div class="col-lg-3 col-md-3">
                    <img id="oslogo" src="{% static 'img/logo_inverted.png' %}">
                </div>
                <div class="col-lg-9 col-md-9" id="titletagholder">
                    <h1 id="ostitle">Open Shiksha</h1>
                    <h2 id="ostag">Adaptive Learning and Educational Analytics</h2>
                </div>
            </div>

            <div id="fronter_mid" class="row">
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <div>
                        <span id="assign-img" class="glyphicon glyphicon-hand-up"></span>
                    </div>
                    <div>
                        <h3 class='key-word' id="practice-word">PRACTICE</h3>
                    </div>
                </div>
                {#                purposely skipping one bootstrap column for better alignment#}
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                    <div>
                        <span id="evaluate-img1" class="glyphicon glyphicon-cog"></span>
                        <span id="evaluate-img2" class="glyphicon glyphicon-cog"></span>
                    </div>
                    <div>
                        <h3 class='key-word' id="evaluate-word">EVALUATE</h3>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                    <div>
                        <span id="analyse-img" class="glyphicon glyphicon-signal"></span>
                    </div>
                    <div>
                        <h3 class='key-word' id="analyse-word">ANALYSE</h3>
                    </div>
                </div>
            </div>

            <div id="fronter_buttons" class="row">
                <a title="Go to login" href="{% url 'login' %}" id="loginbutton">Log In</a>
                <a title="Learn More" href="#learn-more" id="learn_button" class="smooth-scroll-link">Learn More</a>
                <a title="Language" onclick="changeLanguage();" id="language_button">हिन्दी</a>
            </div>
        </div>
    </div>

    <a id="learn-more"></a>
    <div id="horizontaldiv2" class="horizontaldiv">
        <div id="vid-holder">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe id="iframe-vid" class="embed-responsive-item"
                        src="{{ OVERVIEW_VIDEO_EMBED_URI }}" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>


    {#    hidden image which pops up on smaller screens to have better control over sizing#}
    <div id="teacher-img-mobile" class="horizontaldiv">
        <img class="img-responsive" src="{% static 'img/index/teacher.jpg' %}">
    </div>

    <div id="horizontaldiv3" class="horizontaldiv container-fluid">
        <div class="row">
            <div class="col-lg-6" id="drivencolumn">
            </div>
            <div class="col-lg-6" id="drivercolumn">
                <div id="quick_intro">
                    Open Shiksha is a non-profit educational platform designed to improve concept retention and learning outcomes for students. We support classes 7th to 10th for Maths and Science and also include concept refreshers for classes 1st – 10th to ensure that students have the neccessary background to solve more difficult problems. All our content is available in English and Hindi and is based on the CBSE board structure.<br><br>

Our platform leverages educational games, interactive widgets and traditional input options like numerical answers and MCQs. Our mission is to make practising Maths and Science as engaging as possible for the student while simultaneously providing teachers and administrators with curated information with which to make data-driven decisions.<br><br>

Our Open Model enables students to create accounts directly from the website and access all our content for free. Students can progress through the various assignments at their own pace and our algorithms will provide personalised feedback on their performance and suggestions for which concepts need more focus.<br><br>

Our Partnership Model provides educational non-profits and schools with administrator accounts which they can use to create virtual classrooms and add student, teacher and parent accounts. Our platform enables these organisations to improve student performance, analyse different teaching methods and make data driven decisions.
                </div>
            </div>
        </div>
    </div>

    <div id="horizontaldiv4" class="horizontaldiv">
        <img id="openshiksha_img" src="{% static 'img/index/logo_orange.png' %}">
        <h1 id="start_now_tag">Start Now!</h1>
        <div id="account_buttons" class="row">
            <a title="Go to login" href="{% url 'login' %}" id="studentbutton">
                Students
            </a>
            <a title="Go to login" href="{% url 'login' %}" id="orgbutton">
                Schools & Educational Organisations
            </a>
        </div>
    </div>



    <div id="horizontaldiv5" class="horizontaldiv">
        <div id="features_title">
            Key Features
        </div>
        <div id="feature_list">
            <ul>
                <li>Advanced analytics identify student strengths and weaknesses and provide detailed insights into
                    concepts that need further attention.
                </li>
                <li>Personalised feedback, based on past performance, targets specific learning outcomes.</li>
                <li>Formulaic templates generate close to an infinite number of questions, preventing student copying
                    and ensuring unlimited practice.
                </li>
                <li>Automated correction eradicates repetitive, time consuming correction for teachers.</li>
                <li>Statistical tools analyse student, teacher and school performance and identify systemic issues and
                    areas of improvement.
                </li>
                <li>Administrator accounts allow educational organisations to track and analyse multiple metrics,
                    allowing data-driven management decisions.
                </li>
                <li>Auto-generated report cards, data visualisations and a dedicated parent interface facilitate
                    parent-school engagement.
                </li>
                <li>Seamless integration with mobile and tablet platforms allow grassroots organisations to leverage
                    low-cost technology to provide students with a high value learning platform.
                </li>
            </ul>
        </div>
    </div>


    <div id="footer">
        <a title="Click here to email us!" href="mailto:{{ CONTACT_EMAIL }}" target="_top">{{ CONTACT_EMAIL }}</a> | <a
            title="Click here to call us!" href="tel:+91{{ SALES_PHONE }}">+91&nbsp;{{ SALES_PHONE }}</a>
        <div>
            &copy; {% now "Y" %} <span id="footer_company">Social Seva Initiatives</span>
        </div>

    </div>

{% endblock root_body %}
