<div id="{{ modal_id }}" class="modal fade {% block extra_modal_class %}{% endblock extra_modal_class %}" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" title="Close the popup">&times;</button>
          <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
          <div>{% block content %}{{ content }}{% endblock content %}</div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" title="Close the popup">Close</button>
      </div>
    </div>

  </div>
</div>