<!DOCTYPE html>

<html lang="en">
<head>

    {% load staticfiles %}

    <!-- Title -->

    <title>OpenShiksha - {% block title %}{% endblock title %}</title>

    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    {% block meta %}{% endblock meta %}

    <!-- Favicon -->

    <link rel="shortcut icon" href="{% static 'img/faviconv3.ico' %}" type="image/x-icon"/>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    {# required for toast #}
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" type="text/css"/>
    {% block root_css %}{% endblock root_css %}

    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/react.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/react-dom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/smooth-scroll.js' %}"></script>
    {% block root_js %}{% endblock root_js %}

</head>

<body>
{% if ENABLE_ANALYTICS %}
    {% include 'google_analytics_script.html' only %}
{% endif %}

<div id="root_body">

    {% block root_body %}
    {% endblock root_body %}

</div>
</body>
</html>