#create_assignment{
    margin-left: 10px;
}

#create_assignment form .fieldWrapper > input{
    margin: 10px;
} 

.picker_row{
    display: block;
}

#id_subjectroom_chosen{
    display:block;
}
#id_question_set_chosen{
    display:block;
}

#assignmentDescription {
    margin-top: 30px;
}

#assigned.fieldWrapper {
    margin-top: 10px;
}

#create_assignment form ul.errorlist li {
    padding-left: 10px;
}

#submit_button{
    margin: 0px;
    margin-left: 5px;
    line-height: normal;
}

#aql_description {
    margin-bottom: 30px;
    font-size:20px;
}

.override_button {
    padding:10px;
    font-size: 14px;
}

#all-standards-button {
    background-color: #C63632;
    margin-left: 5px;
}

#same-standard-button {
    background-color: #ED9B27;
}

#preview_link {
    background-color: #E37E01;
}

