#create_assignment{
    margin-left: 10px;
}

#create_assignment form .fieldWrapper > input{
    margin: 10px;
}

#id_subjectroom_chosen{
    display:block;
}

#assigned.fieldWrapper {
    margin-top: 10px;
}

#create_assignment form ul.errorlist li {
    padding-left: 10px;
}

#submit_button{
    margin: 0px;
    margin-left: 5px;
    line-height: normal;
}

.override_button {
    padding:10px;
    font-size: 14px;
}

#all-standards-button {
    background-color: #C63632;
    margin-left: 5px;
}

#same-standard-button {
    background-color: #ED9B27;
}

#preview_link {
    background-color: #E37E01;
}

#preview_link.preview_link_disabled {
    background-color: rgba(227, 126, 1, 0.4);
    color: #999;
}

#actionrow {
    margin-top: 30px;
}
