/* Headers */
.header{
    font-family: "Helvetica", sans-serif;;
    color: #000;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 40px;
}

.reportcard_header{
    margin-top:10px;
}

.header5{
    font-size: 26px;
}

.header4 {
    font-size: 32px;
    margin-bottom: 10px;
    color:#008B8B;
}

.header3 {
    font-size:  40px;
}

a{
    color:#000;
}

.chart-container {
    width: 790px;
}
.chart {
    width: 790px;
}

.chart-loader {
    clear: both; /* required since otherwise the float on flipped help tips interferes with loder element positioning */
    font-size: 16px;
    margin-bottom: 15px;
}

.subjectbar, .subjectroombar, .classroombar{
    width: 790px;
    height: 42px;
}

.no-data-img {
    background-image: url("../../img/no-data.png");
    background-repeat: no-repeat;
    width: auto; /*use image's width*/
    height: auto; /*use image's height*/
    margin-left: 37%;
    margin-top: 10%;
    padding:125px;
}

.floatleft{
    float:left;
}

.floatright{
    float:right;
}

.nomargin{
    margin:0px ;
}

.class_average td{
    background-color:#B3E0E7;
}

.reportcard td a{
    font-size:14px ;
    padding:0px 0px ;
    font-weight:bold;
    color:#0066BD;
}

/* Legend for Tables */
.uncorrected_assignment_legend{
    margin-top: -30px;
    margin-left: 185px;
}


.uncorrected_assignment_legend .legend1{
    float:left; width:20px; height:20px; background-color:#B3E0E7; border:solid 1px #000; display:inline-block; border-radius:2px;
}

.uncorrected_assignment_legend .legend2{
    float:left; margin-left:5px;
}

.uncorrected_assignment_legend .clearboth{
    clear:both;
    height:5px;
}

@media screen and (max-width: 1350px){
    .uncorrected_assignment_legend{
    margin-top:0px; margin-left:0px;
}
}

.topheader{
    font-size:26px ;
}

/* Basic CSS styles */ 
.margin-top-20{
    margin-top:20px;
}

.margin-left-30{
    margin-left:30px;
}

.margin-left-10{
    margin-left:10px;
}

.margin-left-neg-10{
    margin-left:-10px ;
}

.margin-top-neg-30{
    margin-top:-30px;
}

.margin-top-10{
    margin-top:10px;
}

.margin-top-90{
    margin-top:90px;
}
.no-decoration:hover{
    text-decoration: none ;
}

.no-decoration{
    text-decoration: none ;
}

.no-border{
    border:none ;
}

#auth_body {
    min-height: 91vh;
    padding-bottom: 20px;
}

@media screen and (max-width: 991px) {
    #auth_body {
        min-width: 827px;
    }
}

/*teacher,admin-specific*/
.inactive_assignment {
    background-color: #B3E0E7;
}

/* base bpdy bottom padding interferes with sidebar height for authenticated pages */
#base_body {
    padding-bottom: 0px;
}

.modal-dialog .modal-content .modal-header .help_tip {
    left: -5px;
    top: -3px;
}

.columnchart-tooltip {
    padding: 7px;
    font-size: 14px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently
                           not supported by any browser */
}

#toast {
    color: #000;
    font-size: 15px;
}
