#classroom_performance_breakdown .help_tip {
    top:-32px;
    right:10px;
}

#classroom_reportcard .subject_teacher{
    color:#0066BD ;
    padding:0px 0px ;
    padding-top: 5px ;
    padding-bottom: 5px ;
}