#question-set-explorer {
    font-size: 15px;
}

#question-set-explorer .explorer-tab {
    padding-left: 0px;
    padding-right: 0px;
}

#question-set-explorer .explorer-tab > ul, #question-set-explorer .explorer-tab > #description-holder {
    height: 300px;
    border: 1px solid darkgray;
    overflow-y: scroll;
}

#question-set-explorer .explorer-tab > #description-holder {
    font-size: larger;
}

#question-set-explorer .explorer-tab > .tab-header {
    padding: 10px 10px;
    background-color: #DDD;
    border: 1px solid darkgray;
    font-size: 18px;
    text-align: center;
}

#question-set-explorer .explorer-tab > ul > li, #question-set-explorer .explorer-tab > #description-holder {
    padding: 8px 10px;
}

#question-set-explorer .explorer-tab > ul > li {
    border-bottom: #777 solid 1px;
    cursor: hand;
    cursor: pointer;
}

#question-set-explorer .explorer-tab li.explorer-selected {
    background-color: #039D9D;
    color: whitesmoke;
}


