#change_password_button {
    margin-top: 25px;
}

#settings_body ul{
    display: inline;
}
.settings_info{
    margin-bottom: 0.6em;
}

#settings_body {
    padding-left: 10px;
}

#settings_body > div {
    padding-top:20px;
}

#settings_body div, #settings_body div li {
    font-size: 18px;
}

#child_info_list label {
    margin-right: 10px;
}

#child_info_list li {
    padding-top: 15px;
}


