#school-stamp {
    width: 75%;
    margin-top: 5px;
}

#sidebar{
	margin-bottom: 0px;
    min-height:91vh;
    border-radius: 0px;
    text-align:center;
}

.ticker_box {
    margin-top: 20px;
}

#ticker {
    font-size: 6vw;
}

#ticker a {
    vertical-align: center;
    text-decoration: none;
}

#sidebar #listings > .listing:first-child {
    margin-top: 30px;
}

.listing {
    margin-bottom: 40px;
}

.listing_element{
    margin-top:15px;
}

.listing_element a{
    font-weight:bold;
    font-size: 1.4vw;
}

.parent_child_info div{
    margin-top: 10px;
    font-size: large;
}

.sidebarheader{
    color: #B80000;
    margin-bottom: 0;
    margin-top: 0px;
    text-align: center;
    font-size: 1.6vw;
}

.parent_child_sub_sidebar{
    border-top: 1px solid black;
    padding-top: 40px;
}

#parent_sidebar_content > .parent_child_sub_sidebar:first-child {
    border-top: 0px solid black;
    padding-top: 20px;
}

#advanced-analytics-button {
    font-size: 1vw;
}

#advanced-analytics-button-container {
    margin-top: 30px;
    margin-bottom: 50px;
}