#school-stamp {
    width: 160px;
    padding-bottom: 20px;
}

#sidebar{
	margin-bottom: 0px;
    min-height:91vh;
    border-radius: 0px;
    text-align:center;
}

.ticker_box, #listings > .listing {
    margin-top: 35px;
}

#ticker {
    font-size: 60px;
}

#ticker > a {
    vertical-align: center;
    text-decoration: none;
}

.listing_element {
    margin-top: 15px;
}

.listing_element a {
    font-weight: bold;
    font-size: 22px;
}

.parent_child_sub_sidebar {
    border-bottom: 1px solid #aaa;
    padding-top: 35px;
    padding-bottom: 35px;
}

#sidebar-data > .parent_child_sub_sidebar:last-child {
    border-bottom: 0px solid black;
    padding-bottom: 0px;
}

.parent_child_sub_sidebar > .parent_child_info > h6.sidebarheader {
    margin-bottom: 10px;
}

.parent_child_sub_sidebar > .parent_child_info > div {
    font-size: 18px;
}

.sidebarheader{
    color: #B80000;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 28px;
}

@media screen and (max-width: 1400px) {
    .sidebarheader {
        font-size: 1.6vw;
    }

    .listing_element a {
        font-size: 1.4vw;
    }

    #ticker {
        font-size: 6vw;
    }

    #school-stamp {
        width: 75%;
    }

    .parent_child_sub_sidebar > .parent_child_info > div {
        font-size: 1.2vw;
    }
}

#sidebar > ul.nav > #sidebar-data {
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    padding-bottom: 35px;
}