#school-stamp {
    padding-bottom: 20px;
}

#school-stamp, #sidebar-data .listing_element .progress-listing {
    width: 160px;
}

#school-stamp.open-school {
    padding-top: 2px;
}

#sidebar{
	margin-bottom: 0px;
    min-height:91vh;
    border-radius: 0px;
    text-align:center;
}

.ticker_box, #listings > .listing {
    margin-top: 35px;
}

#ticker {
    font-size: 60px;
}

#ticker > a {
    vertical-align: center;
    text-decoration: none;
}

.listing_element {
    margin-top: 15px;
}

.listing_element > .progress-listing .subject-badge {
    margin-right: 7px;
    vertical-align: bottom;
    font-size: 30px;
    color: black;
}

.listing_element > .progress-listing .subject-badge.glyphicon-disabled {
    color: #afafaf;
}

.listing_element > .progress-listing .subject-link {
    line-height: 30px;
    vertical-align: bottom;
}

.listing_element a {
    font-weight: bold;
    font-size: 20px;
}

.child_sidebar {
    border-bottom: 1px solid #aaa;
    padding-top: 35px;
    padding-bottom: 35px;
}

#sidebar-data > .child_sidebar:last-child {
    border-bottom: 0px solid black;
    padding-bottom: 0px;
}

.child_sidebar > .child_info > .child_name {
    margin-bottom: 10px;
}

.child_sidebar > .child_info > .child_classroom {
    font-size: 16px;
}

.sidebarheader{
    color: #B80000;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
    font-size: 25px;
}

@media screen and (max-width: 1400px) {
    .sidebarheader {
        font-size: 1.6vw;
    }

    .listing_element a {
        font-size: 1.4vw;
    }

    .listing_element > .progress-listing .subject-badge {
        margin-right: 0.5vw;
        font-size: 2vw;
    }

    .listing_element > .progress-listing .subject-link {
        line-height: 2vw;
    }

    #ticker {
        font-size: 4vw;
    }

    #school-stamp, #sidebar-data .listing_element .progress-listing {
        width: 90%;
    }

    .child_sidebar > .child_info > .child_classroom {
        font-size: 1.2vw;
    }

    #sidebar-data .listing_element .progress > .progress-bar {
        font-size: 1.3vw;
    }
}

#sidebar-data {
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    padding-bottom: 35px;
}

#sidebar-data .listing_element .progress-listing > .proficiency-row {
    text-align: left;
}

#sidebar-data .listing_element .progress-listing {
    margin: 30px auto 0px;
}

#sidebar-data .listing_element .progress {
    height: 30px;
    margin-top: 7px;

}

#sidebar-data .listing_element .progress > .progress-bar {
    font-size: 15px;
    line-height: 30px;
}