{% extends "authenticated/home/base.html" %}

{% load staticfiles %}

{% block home_css %}
    <link rel="stylesheet" href="{% static "css/authenticated/home/admin.css" %}" type="text/css"/>
{% endblock home_css %}

{% block home_ribbon %}
    {% include "authenticated/widgets/ribbon_buttons/announcement_create.html" only %}
{% endblock home_ribbon %}

{% block home_body %}
    <div class='row'>
        <!-- Teachers Div -->
        {% include "authenticated/widgets/classrooms_table.html" with classrooms_table=vm.authenticated_body.classrooms_table only %}
        {% include "authenticated/charts/standard_assignment_performance_popup.html" only %}
        {% include "authenticated/charts/teacher_performance_breakdown_popup.html" only %}
    </div>
{% endblock home_body %}


{% block home_js %}
    <script type="text/javascript" src="{% static 'js/authenticated/home/admin.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/charts/links/classrooms_table.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/charts/subjectroom_performance_breakdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/charts/standard_assignment_performance.js' %}"></script>
{% endblock home_js %}
