{% extends "authenticated/home/base.html" %}

{% load staticfiles %}
{% block home_css %}
    <link rel="stylesheet" href="{% static 'css/home/admin.css' %}" type="text/css"/>
{% endblock home_css %}

{% block home_body %}
    <div class='row'>
        {% include "authenticated/widgets/announcement_create.html" only %}
        <!-- Teachers Div -->
        {% include "authenticated/widgets/classrooms_table.html" with classrooms_table=vm.authenticated_body.classrooms_table only %}
        {% include "authenticated/widgets/standard_assignment_performance_popup.html" only %}
        {% include "authenticated/widgets/teacher_performance_breakdown_popup.html" only %}
    </div>
{% endblock home_body %}


{% block home_js %}
<script type="text/javascript" src="{% static 'js/charts/subjectroom_performance_breakdown.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/charts/subjectroom_assignment_performance.js' %}"></script>
<script type="text/javascript" src="{% static 'js/charts/standard_assignment_performance.js' %}"></script> 
{% endblock home_js %}
