{% extends "authenticated/base.html" %}

{% load staticfiles %}
{% block title %} Home {% endblock title %}
{% block authenticated_base_css %}
    <link rel="stylesheet" href="{% static "css/home/base.css" %}" type="text/css"/>
    {% block home_css %} {% endblock home_css %}
{% endblock authenticated_base_css %}

{% block authenticated_body %}
    {% block home_body %}{% endblock home_body %}
    {% include "authenticated/widgets/subjectroom_assignment_performance_popup.html" only %}
    {% block assignments %}{% endblock assignments %}
{% endblock authenticated_body %}

{% block authenticated_base_js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% block home_js %}{% endblock home_js %}
    <script type="text/javascript" src="{% static 'js/charts/graph_lib.js' %}"></script> 
{% endblock authenticated_base_js %}