{% extends "authenticated/base.html" %}

{% load staticfiles %}
{% block authenticated_body_css %}
    <link rel="stylesheet" href="{% static "css/home/base.css" %}" type="text/css"/>
    {% block home_css %} {% endblock home_css %}
{% endblock authenticated_body_css %}

{% block authenticated_body %}

{% include "authenticated/widgets/announcement_box.html" %} 
<br>
{% block home_body %}{% endblock home_body %}

{% endblock authenticated_body %}

{% block authenticated_body_js %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    {% block home_js %}{% endblock home_js %}
    <script type="text/javascript" src="{% static 'js/charts/graph_lib.js' %}"></script> 
{% endblock authenticated_body_js %}