{% extends "authenticated/home/base.html" %}

{% load staticfiles %}

{% block home_body %} 
     <div id="parent_content" class='hidden'></div>
    {% for child_home_body in vm.authenticated_body.child_home_bodies %}
        <div class='row'>
            <h3 class="header header3">{{ child_home_body.name }} : {{child_home_body.classroom}}</h3>
            <span class='hidden parent_child_id'>{{child_home_body.child_id}}</span>

            {% include "authenticated/charts/parent_child_performance.html" with name=child_home_body.name id=child_home_body.child_id only %}

            <!-- Assignment Div -->
            <a name="active_assignment_table_{{child_home_body.username}}"></a>
            {% include "authenticated/assignments_table/active_student.html" with assignments=child_home_body.active_assignments only %}
            {% include "authenticated/assignments_table/corrected_student.html" with assignments=child_home_body.corrected_assignments only %}
        </div> 

    {% endfor %}
   
{% endblock home_body %}

{% block home_js %}
    <script type="text/javascript" src="{% static "js/charts/subjectroom_assignment_performance.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/parent_child_performance_report.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/parent_child_performance_breakdown.js" %}"></script>
{% endblock home_js %}

