{% extends "authenticated/home/base.html" %}

{% load staticfiles %}

{% block home_css %}
    <link rel="stylesheet" href="{% static "css/authenticated/home/parent.css" %}" type="text/css"/>
{% endblock home_css %}

{% block home_body %}
    <div id="parent-home-body">
    {% for child_home_body in vm.authenticated_body.child_home_bodies %}
        <div class='row parent-child-container'>
            <h3 class="parent-child-header header header3">{{ child_home_body.name }}</h3>
            <span class='hidden parent_child_id'>{{child_home_body.child_id}}</span>

            {% include "authenticated/charts/parent_child_performance.html" with name=child_home_body.name id=child_home_body.child_id only %}
        </div> 

    {% endfor %}

    </div>
{% endblock home_body %}

{% block home_js %}
    <script type="text/javascript" src="{% static "js/charts/home/parent.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/parent_child_performance_report.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/parent_child_performance_breakdown.js" %}"></script>
{% endblock home_js %}

