{% extends "authenticated/home/base.html" %}

{% load staticfiles %}
{% block sidebar %}
        {% include "authenticated/sidebar/parent.html" %}
{% endblock sidebar %}
{% block home_css %}
    <link rel="stylesheet" href="{% static "css/home/parent.css" %}" type="text/css"/>
{% endblock home_css %}

   

{% block home_body %}



<h4 class="header header4">List of Children</h4><br>
</br>

<div id="accordion">
    {% for child in vm.sidebar.child_list %}
        <h3> {{ child.userinfo.name }}  -  {{ child.userinfo.classroom }} </h3>
        <div>
            {% include "authenticated/widgets/announcement_box.html" %} 
            <br>

                <!-- Performance Div -->
            {% include "authenticated/widgets/student_performance.html" %}
            {% include "authenticated/widgets/printable_performance.html" %}
            {% include "authenticated/widgets/calculator_tools.html" %}
                <!-- Assignment Div -->

            <div class='row'>
                {% include "authenticated/widgets/active_assignment.html" %}
                {% include "authenticated/widgets/graded_assignment.html" %}
            </div>
        </div>
    {% endfor %}    
</div>

   
{% endblock home_body %}

{% block home_js %}
    <script type="text/javascript" src="{% static "js/printbutton.js" %}"></script> 
    <script type="text/javascript" src="{% static "js/charts/section_assignment_performance.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/performance_report.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/performance_breakdown.js" %}"></script>  
    <script type="text/javascript" src="{% static "js/home/parent.js" %}"></script>  
{% endblock home_js %}

