{% extends "authenticated/base.html" %}

{% load staticfiles %}


{% block sidebar %}
    {% include "authenticated/sidebar/student.html" %}
{% endblock %}

{% block authenticated_body_css %}
    <link rel="stylesheet" href="{% static "css/home/base.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/home/student.css" %}" type="text/css"/>
{% endblock authenticated_body_css %}

{% block authenticated_body %}
    <!-- Announcements Div -->
{% include "authenticated/widgets/announcement_box.html" %} 
<br>

    <!-- Performance Div -->
{% include "authenticated/widgets/student_performance.html" %}
{% include "authenticated/widgets/printable_performance.html" %}
{% include "authenticated/widgets/calculator_tools.html" %}
{% include "authenticated/widgets/chart_popup.html" %}
    <!-- Assignment Div -->

<div class='row'>
    {% include "authenticated/widgets/active_assignment.html" %}
    {% include "authenticated/widgets/graded_assignment.html" %}
</div>

{% endblock authenticated_body %}

{% block authenticated_body_js %}
    <script type="text/javascript" src="{% static "js/calculator.js" %}"></script> 
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static "js/charts/mockdata.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/printbutton.js" %}"></script> 
    <script type="text/javascript" src="{% static "js/charts/subjectroom_performance_breakdown.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/assignment_performance.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/performance_report.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/performance_breakdown.js" %}"></script>  
    <script type="text/javascript" src="{% static "js/charts/graphs.js" %}"></script>        
{% endblock authenticated_body_js %}