{% extends "authenticated/home/base.html" %}

{% load staticfiles %}

{% block home_ribbon %}
    {% include "authenticated/widgets/ribbon_buttons/practice.html" only %}
{% endblock home_ribbon %}

{% block home_body %}
    {% include "authenticated/charts/student_performance.html" only %}
{% endblock home_body %}
    <!-- Assignment Div -->
{% block assignments %}
    <div id="assignment-tables-container">
        <a name="active_assignment_table_{{vm.authenticated_body.username}}"></a>
        {% include "authenticated/assignments_table/active_student.html" with assignments=vm.authenticated_body.active_assignments only %}
        {% include "authenticated/assignments_table/corrected_student.html" with assignments=vm.authenticated_body.corrected_assignments only %}
        {% include "authenticated/assignments_table/practice.html" with assignments=vm.authenticated_body.practice_assignments only %}
    </div>
{% endblock assignments %}

{% block home_js %}
    <script type="text/javascript" src="{% static "js/charts/home/student.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/student_performance_report.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/student_performance_breakdown.js" %}"></script>
{% endblock home_js %}