{% extends "authenticated/home/base.html" %}

{% load staticfiles %}
{% block sidebar %}
    {% include "authenticated/sidebar/teacher.html" %}
{% endblock sidebar %}

{% block home_css %}
    <link rel="stylesheet" href="{% static "css/home/teacher.css" %}" type="text/css"/>
{% endblock home_css %}

{% block home_body %}

    <div class='col-md-10'>
        {% include "authenticated/widgets/assignment_create.html" %}
        {% include "authenticated/charts/subjectroom_performance_breakdown.html" %}
    </div>
<!-- Assignment Div -->
    <div class='row'>
        {% include "authenticated/widgets/active_assignment.html" %}
        {% include "authenticated/widgets/graded_assignment.html" %}
    </div>    


{% endblock home_body %}

{% block home_js %}
    <script type="text/javascript" src="{% static "js/charts/subjectroom_performance_breakdown.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/assignment_performance.js" %}"></script>
{% endblock home_js %}