{% extends "authenticated/home/base.html" %}

{% load staticfiles %}

{% block home_body %}
    <div class='row'>
        <div id="ribbon">
            {% include "authenticated/widgets/assignment_create.html" only %}
            {% include "authenticated/widgets/announcement_create.html" only %}
        </div>
        {% include "authenticated/charts/subjectroom_performance_breakdown.html" only %}
        {% include "authenticated/charts/standard_assignment_performance_popup.html" only %}
        {% include "authenticated/charts/assignment_completion_popup.html" only %}
    </div>
{% endblock home_body %}

{% block assignments %}
    <div id="assignment-tables-container">
        {% include "authenticated/assignments_table/uncorrected.html" with assignments=vm.authenticated_body.uncorrected_assignments only %}
        {% include "authenticated/assignments_table/corrected_teacher.html" with assignments=vm.authenticated_body.corrected_assignments only %}
    </div>
{% endblock assignments %}

{% block home_js %}
    <script type="text/javascript" src="{% static 'js/charts/links/completion.js' %}"></script>
    <script type="text/javascript" src="{% static "js/charts/assignment_completion.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/home/teacher.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/subjectroom_performance_breakdown.js" %}"></script>
    <script type="text/javascript" src="{% static "js/charts/standard_assignment_performance.js" %}"></script>
{% endblock home_js %}