<p>Welcome to {{ site_name }}!</p>

<p>Your account has been successfully set up. Your username is: <b>{{ user.get_username }}</b></p>

<h3>Please click on the link below to activate your account and set your password:</h3>

<div>
    {{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}
</div>

<p>For additional reference, please watch the video tutorial by clicking on the link below:</p>

<a href="https://www.youtube.com/watch?v=eywl1HS9NzA">VIDEO TUTORIAL</a>

<p>Feel free to reach out to us at +91 7057216343 or contact@hwcentral.in for any enquiries/feedback!</p>

<div>Regards</div>
<div>The {{ site_name }} Team</div>