Welcome to {{ site_name }}!

Your account has been successfully set up. Your username is: {{ user.get_username }}

Please click on the link below to activate your account and set your password:

{{ protocol}}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb64=uid token=token %}

For additional reference, please watch the video tutorial by clicking on the following link:

https://www.youtube.com/watch?v=nAgfTNpSnIs

Feel free to reach out to us at +91 7057216343 or contact@hwcentral.in for any enquiries/feedback!

Regards
The {{ site_name }} Team