body{
    min-width: 1200px;
} /* meant to add min-width to all assigments*/

.MathJax_Display{
    text-align:left ;
}

.question_element_img{
    max-width:600px;
}

.show_hint_button{
    background-color:#B3E0E7;
}

.hide_hint_button{
    background-color:#B3E0E7;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.due-text{
    color:#B80000;
}

.submission_header{
    font-size:22px;
}

input{
    margin: 10px;
}

.picker_row{
    display: block;
}

#id_subjectroom_chosen{
    display:block;
}
#id_question_set_chosen{
    display:block;
}

#submission_completion_progressbar #percent_value {
    font-size:16px;
    line-height: 25px;
    color: black;
    margin-left: 10px;
}

.question_list li{
    font-size:17px;
    padding-bottom: 10px;
}

.question_subpart_elem {
    margin-bottom:20px;
}

.question_subpart_field{
    margin-left:-15px;
}

.question_elem{
    border-bottom: solid 1px #b6b6b6;
    margin-bottom: 20px;
}

.question_container_hint{
    margin-top: 10px;
    margin-bottom: 10px;
}

#assignment_info {
    border-left: 1px solid darkgray;
    padding-left: 15px;
    margin-left:5px;
}

#submission_student {
    border-right: 1px solid darkgray;
    padding-right: 15px;
    margin-right: 5px;
}

#readonly_assignment_form,#aql_info,#uncorrected_submission_form{
 margin-left: 10px;
}

.question_subpart_hint_hidden, .question_subpart_solution_hidden {
    display: none;
}

.radio_correct, .checkbox_correct {
    background-color:#B4EAB8;
    padding-top:6px;
    padding-bottom:6px;
}

.radio_incorrect, .checkbox_incorrect {
    background-color:#EAB4B4;
    padding-top:4px;
    padding-bottom:4px;
}

.incorrect_answer{
	font-weight:bold;
	color:#B80000;
	font-size:20px;
	margin-top:10px;
}

.correct_answer{
	font-weight:bold;
	color:#00A56B;
	font-size:20px;
}

.hide_solution_button{
	background-color:#F9D672;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.show_solution_button{
	background-color:#F9D672;
	margin-top:10px;
}

.question_subpart_hint {
    background-color: #B3E0E7;
    padding: 10px;
}

.question_subpart_solution {
    background-color: #F9D672;
    padding: 10px;
}

#corrected_submission_form .question_subpart_field{
    margin-left:0px ;
    margin-top:10px;
}

#corrected_submission_form input[type=text]{
    margin-left:-5px ;
}

#revision_modal {
    font-size: 16px;
}

#revision_modal li {
    padding: 5px 0;
}

.question_subpart_field .help_tip {
    bottom: 1px; /*override*/
}

.question_subpart_field ul.errorlist li {
    padding-left: 10px;
}

.question_subpart_field .fieldWrapper {
    margin-top: -10px;
}

.question_subpart_field .fieldWrapper input[type="text"] {
    margin-top: 20px;
}

.question_subpart_field .fieldWrapper .correct_answer {
    margin-left: 10px;
    position: relative;
    top: 2px;
}

.question_subpart_field .fieldWrapper label {
    font-weight: normal;
}

.question_subpart_field .fieldWrapper .chosen-container {
    margin-top: 20px;
}

.question_subpart_field .fieldWrapper .chosen-container li.disabled-result {
    color: #666;
}

.question_subpart_field .fieldWrapper ul {
    /* remove list styling for mcsaq and mcmaq options which are rendered as ul li */
    list-style: none;
}

.question_elem .question_subpart_list {
    padding-top:10px;
}

.question_subpart .question_subpart_hint_container {
    padding-top:15px;
}