{% extends 'base.html' %}

{% block base_body %}
    <h4 class='well header header5'>Account Activation</h4>

    <div class="indented_body_left">
        <form id='ink_form' action='{% url vm.form.action_url_name %}' method='post'>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in vm.form %}
                {% include 'authenticated/widgets/form_field.html' with field=field only %}
            {% endfor %}
            {% include "authenticated/widgets/password_change.html" with form=vm.password_form only %}
            <div>
                <input id="simple_form_submit" class="hwcentral_action_button" type='submit' value='Submit'
                       title="Activate this Account"/>
            </div>
        </form>
    </div>
{% endblock base_body %}

{% block base_js %}
    <script type="text/javascript" src="{% static "js/password_strength.js" %}"></script>
{% endblock base_js %}