#navigation-row {
    padding-bottom: 30px;
    border-bottom: solid 1px darkgray;
}

#positive-pane {
    border-right: solid 2px darkgray;
}

#student-select-holder {
    margin-top: 20px;
}

#go-button {
    display: inline-block;
}

#title-row {
    padding-top: 20px;
    font-size: 18px;
}

.insufficient-data {
    margin-top: 50px;
}

#category-scores {
    padding: 20px;
}

#category-scores .score {
    font-size: 20px;
    border-radius: 5px;
}

#category-scores .score > span {
    font-size: 15px;
}