#navigation-row {
    padding-bottom: 30px;
    border-bottom: solid 1px darkgray;
}

#badge-row {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 15px;
    padding-left: 15px;
}

#visualization-row {
    padding-top: 20px;
    padding-bottom: 20px;
}

#visualization-row .pane-title {
    font-size: 22px;
    font-weight: 500;
    background-color: darkgray;
    padding: 5px;
    margin-bottom: 10px;
}

#visualization-row .pane-col {
    padding: 0px;
}

#visualization-row #positive-col {
    border-right: 2px solid white;
}

.tag-badge {
    padding-right: 15px;
    padding-left: 15px;
}

.tag-badge > div {
    border: 2px black solid;
    border-radius: 5px;
}

.tag-badge > div > span {
    display: inline-block;
    padding: 5px;
    font-size: 17px;
}

.tag-badge > div > .glyphicon {
    float: left;
    border-right: 2px solid black;
    padding: 9px;
    position: relative;
    top: 0px;
}

.tag-badge > div > .badge-val {
    float: right;
    border-left: 2px solid black;
}

.tag-badge > div.danger {
    background-color: rgba(255, 104, 104, 1);
}

.tag-badge > div.warning {
    background-color: #FFD950;
}

.tag-badge > div.success {
    background-color: lightgreen;
}

.tag-badge > div.unknown {
    color: darkgray;
}

.select-holder {
    margin-top: 20px;
}

#go-button {
    display: inline-block;
}

.insufficient-data {
    margin-top: 50px;
}

#table-row, #questions-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-preview {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.subpart-preview {
    padding-bottom: 20px;
}

.subpart-preview .question-elem-preview {
    padding-bottom: 5px;
}

#visualization-row .pane .tag-badge {
    padding: 10px 40px;
}

#visualization-row .pane-title .help_tip {
    right: 8px;
    top: 5px;
}