#navigation-row {
    padding-bottom: 30px;
    border-bottom: solid 1px darkgray;
}

#badge-row {
    padding: 50px;
}

#title-row {
    font-size: 22px;
    font-weight: 500;
    padding-top: 20px;
}

#badge-row .tag-badge {
    padding-right: 30px;
    padding-left: 30px;
}

#badge-row > .tag-badge > div {
    border: 2px black solid;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
}

.tag-badge > div.danger {
    background-color: rgba(255, 104, 104, 1);
}

.tag-badge > div.warning {
    background-color: #FFD950;
}

.tag-badge > div.success {
    background-color: lightgreen;
}

.tag-badge > div.unknown {
    color: darkgray;
}

#positive-pane {
    border-right: solid 2px darkgray;
    height: 500px;
}

.select-holder {
    margin-top: 20px;
}

#go-button {
    display: inline-block;
}

.insufficient-data {
    margin-top: 50px;
}

#table-row, #questions-row {
    margin-top: 15px;
    margin-bottom: 20px;
}

#chart-row {
    margin-bottom: 20px;
}

.container-preview {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
}

.subpart-preview {
    padding-bottom: 20px;
}

.subpart-preview .question-elem-preview {
    padding-bottom: 5px;
}

