#annoucement_form{
    margin-left: 0px;
}

#id_message{
    width:300px;
    height: 100px;
    display: block;
}


#id_subjectroom_chosen{
    display:block;
}

#id_target_chosen{
    display:block;
}

#main_body{
    min-height: 400px;
}