#create_assignment{
    margin-left: 10px;
}

input{
    margin: 10px;
} 

.picker_row{
    display: block;
}

#id_subjectroom_chosen{
    display:block;
}
#id_question_set_chosen{
    display:block;
}

#assignmentDescription {
    margin-top: 30px;
}

#assigned.fieldWrapper {
    margin-top: 10px;
}

form ul.errorlist li {
    padding-left: 10px;
}

#submit_button{
    margin: 0px;
}

#aql_description {
    margin-bottom: 40px
}

