#create_assignment{
    margin-left: 10px;
}

input{
    margin: 10px;
} 

.helptext{
    display:block;
}

.picker_row{
    display: block;
}

#id_subjectroom_chosen{
    display:block;
}
#id_question_set_chosen{
    display:block;
}

.fieldWrapper{
	margin-top:10px;
}

#assignmentDescription{
	margin-top:20px;
}

#submit_button{
    margin: 0px;
}


