body{
    min-width: 1000px;
}



/* Headers */
.header{
    font-family: Georgia, serif;
    color: #000;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 30px;
}
.sidebarheader{
    font-family: Georgia, serif;
    color: #B80000;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0;
    text-align: center;
    margin-top: 25px;
}

.reportcard_header{
    margin-top:10px;
}

.header6{
    font-size:1.5vw;
}
.header5{
    font-size: 2vw;
}

.header4 {
    font-size: 2.4vw;
    margin-bottom: 10px;
}

.header3 {
    font-size: 2.8vw;

}
.printperf{
    text-align: center;
    text-decoration: underline;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}

@media print{
    h5{
        page-break-before: always;
    }
}
.modal-dialog{
    margin:100px auto;
    width: 900px;
}
a{
    font-size: 16px;
    padding: 10px 15px;
    color:#000;
}

.chart{
    width: 81vw;
    height: 70vh;
    border-style: solid;
    border-width: 1px;
    overflow:auto;
    
}

/* Element Positioning */

#printbutton{
    margin-top: 10px;
    margin-left: 10px;
}

#subjectbar{
    width: 81vw;
    height: 15vh;
}
.loadingimage2{
    margin-left: 41%;
    margin-top: 22%;
}
.loadingimage1{
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
}
.floatleft{
    float:left;
}

.floatright{
    float:right;
}

.nomargin{
    margin:0px !important;
}


/*Buttons*/
.regbutton{
    background-color:#000;
    color:#FFF;
    padding:10px;
    font-family: Georgia, serif;
    font-variant: small-caps;
    width:100px;
    text-align:justify;
    font-size:20px;
    -webkit-transition: color 0.25s ease-out;   
    transition: color 0.25s ease-out;
    -webkit-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.regbutton:hover{
    background-color:#e6e6e6;
    color:#000;
}

.largebutton{
    background-color:#000;
    color:#FFF;
    font-family: Georgia, serif;
    font-variant: small-caps;
    text-align:center;
    font-size:2em;
    margin-left: 10px;
    margin-top :40px;
    width: 100px;
    height: 60px;
    -webkit-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
    -webkit-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.largebutton:hover{
    background-color:#A9A9A9;
    color:#000;
}

.nextbutton{
    margin-left:10px;
}

.xlargebutton{
    background-color:#000;
    color:#FFF;
    padding:10px;
    font-family: Georgia, serif;
    font-variant: small-caps;
    width:25vw;
    text-align:center;
    font-size:2vw;
    -webkit-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
    -webkit-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.xlargebutton:hover{
    background-color:#e6e6e6;
    color:#000;
}

/* Invisible Chart Data */

.chartdata{
    opacity:0.0;
    z-index:-1;
    height:1px;
}

li{
    font-size: 1vw;
    padding: 10px 15px;
}


.parent_child {
    margin-left: 15px;
    padding: 10px;
}

.helptext{
    font-style: italic;
}


.invisible{
    display:none;
}

.class_average td{
    background-color:#90E180;
}

.subject_teacher{
    color :#0000FF;
}

tr.classroom_header{
    cursor:pointer;
}
.classroom_header td{
    font-weight: 700;
}

.subjectroom_header td{
    color:#800000;
}

.classroom_header{
 background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
 background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
 transition: height 2s;
}

.classroom_header:hover{
 background-color: #d9dddd; background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd), to(#c6c3c3));
 background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
 background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d9dddd, endColorstr=#c6c3c3);
}
}