html{
    min-width: 1000px;
}



/* Headers */
.header{
    font-family: Georgia, serif;
    color: #000;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 10px;
    margin-top: 40px;
}
.sidebarheader{
    font-family: Georgia, serif;
    color: #B80000;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0;
    text-align: center;
    margin-top: 25px;
}

.reportcard_header{
    margin-top:10px;
}

.header6{
    font-size:22px;
    margin-top:30px;
}
.header5{
    font-size: 2vw;
}

.header4 {
    font-size: 35px;
    margin-bottom: 10px;
    color:#008B8B;
}

.header3 {
    font-size: 2.8vw;

}
.printperf{
    text-align: center;
    text-decoration: underline;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}

@media print{
    h5{
        page-break-before: always;
    }
}
.modal-dialog{
    margin:100px auto;
    width: 900px;
}
a{
    font-size: 16px;
    padding: 10px 15px;
    color:#000;
}

.chart{
    width: 1000px;
    height: 420px;
    border-style: solid;
    border-width: 1px;
    overflow:hidden;
    
}

/* Element Positioning */

#printbutton{
    margin-top: 10px;
    margin-left: 0px;
}

#subjectbar{
    width: 81vw;
    height: 60px;
}
.loadingimage2{
    margin-left: 41%;
    margin-top: 22%;
}
.loadingimage1{
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
}
.floatleft{
    float:left;
}

.floatright{
    float:right;
}

.nomargin{
    margin:0px !important;
}


/*Buttons*/
.regbutton{
    background-color:#000;
    color:#FFF;
    padding:10px;
    font-family: Georgia, serif;
    font-variant: small-caps;
    width:100px;
    text-align:justify;
    font-size:20px;
    -webkit-transition: color 0.25s ease-out;   
    transition: color 0.25s ease-out;
    -webkit-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.regbutton:hover{
    background-color:#e6e6e6;
    color:#000;
}

.largebutton{
    background-color:#000;
    color:#FFF;
    font-family: Georgia, serif;
    font-variant: small-caps;
    text-align:center;
    font-size:2em;
    margin-left: 10px;
    margin-top :40px;
    width: 100px;
    height: 60px;
    -webkit-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
    -webkit-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.largebutton:hover{
    background-color:#A9A9A9;
    color:#000;
}

.nextbutton{
    margin-left:10px;
}

.xlargebutton{
    background-color:#000;
    color:#FFF;
    padding:10px;
    font-family: Georgia, serif;
    font-variant: small-caps;
    width:25vw;
    text-align:center;
    font-size:2vw;
    -webkit-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
    -webkit-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.xlargebutton:hover{
    background-color:#e6e6e6;
    color:#000;
}

.make_announcement_button{
    margin-left:-17px;
    background-color:#008B8B !important;
    color:#fff !important;
}

.make_announcement_button:hover{
    color:#fff;
}

/* Invisible Chart Data */

.chartdata{
    opacity:0.0;
    z-index:-1;
    height:1px;
}

li{
    font-size: 1vw;
    padding: 10px 15px;
}

.navbar li{
    padding: 0px 0px;
}


.parent_child {
    margin-left: 15px;
    padding: 10px;
}

.helptext{
    font-style: italic;
}

.class_average td{
    background-color:#B3E0E7;
}

.subject_teacher{
    color :#0000FF;
}

tr.classroom_header{
    cursor:pointer;
}
.classroom_header td{
    font-weight: 700;
}

.subjectroom_header td{
    color:#008B8B;
}

.classroom_header{
    background-color:#e6e6e6 !important;
    transition: background-color 1s;
}

.classroom_header:hover{
    background-color:#B3E0E7 !important;
    transition: background-color 1s;
}


/* Legend for Tables */
.chart_legend{
    margin-top:-34px; margin-left:185px;
}


.chart_legend .legend1{
    float:left; width:20px; height:20px; background-color:#B3E0E7; border:solid 1px #000; display:inline-block; border-radius:2px;
}

.chart_legend .legend2{
    float:left; margin-left:5px;
}

.clearboth{
    clear:both;
    height:5px;
}

@media screen and (max-width: 1350px){
    .chart_legend{
    margin-top:0px; margin-left:0px;
}
}


/* Submit Button for Simple Form */
#simpleSubmit{
    margin-left:10px;
}

.topheader{
    font-size:26px !important;
}

.settingHead{
    font-size:26px;
}

/* Basic CSS styles */ 
.margin-top-20{
    margin-top:20px;
}

.margin-left-30{
    margin-left:30px;
}

.margin-left-neg-10{
    margin-left:-10px !important;
}

.margin-top-neg-30{
    margin-top:-30px;
}

.margin-top-10{
    margin-top:10px;
}

.no-decoration:hover{
    text-decoration: none !important;
}

.no-decoration{
    text-decoration: none !important;
}

.no-border{
    border:none !important;
}

.passPadding{
    padding:0px;
}


/*Chart Styles*/

#subject_performance{
    margin-top:5px;
}