#authenticated_body {
    /* These are required to make it stretch vertically (NOTE: alongwith parent container having relative positioning) */
    position: absolute;
    top: 0px;
    bottom: 0px;
    /*TODO: Figure out way to remove HARDCODING - this value makes the auth_body position to the right of sidebar*/
    left: 177px;
    padding-top: 20px;
    padding-bottom: 20px;
}