/* Headers */
.header{
    font-family: Georgia, serif;
    color: #000;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0;
}
.sidebarheader{
    font-family: Georgia, serif;
    color: #000;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0;
    text-align: center;
}
.header6{
    font-size:1.5vw;
}
.header5{
    font-size: 2vw;
}

.header4 {
    font-size: 2.4vw;
}

.header3 {
    font-size: 2.8vw;

}
.perf{
    text-align: center;
}

.printperf{
    text-align: center;
    text-decoration: underline;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}

@media print{
    h5{
        page-break-before: always;
    }
}
.modal-dialog{
    margin:100px auto;
    width: 900px;
}
a{
    font-size: 1vw;
    padding: 10px 15px;
    color:#000;
}

.chart{
    width: 81vw;
    height: 70vh;
    border-style: solid;
    border-width: 1px;
    overflow:auto;
    
}


/* Element Positioning */

#printbutton{
    margin-top: 10px;
    margin-left: 10px;
}

#subjectbar{
    width: 81vw;
    height: 15vh;
}
.loadingimage2{
    margin-left: 41%;
    margin-top: 20%;
}
.loadingimage1{
    position: absolute;
    margin-left: 40%;
    margin-top: 10%;
}
.floatleft{
    float:left;
}

.floatright{
    float:right;
}

.nomargin{
    margin:0px !important;
}


/*Buttons*/
.regbutton{
    background-color:#000;
    color:#FFF;
    padding:10px;
    font-family: Georgia, serif;
    font-variant: small-caps;
    width:100px;
    text-align:justify;
    font-size:20px;
    -webkit-transition: color 0.25s ease-out;   
    transition: color 0.25s ease-out;
    -webkit-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.regbutton:hover{
    background-color:#e6e6e6;
    color:#000;
}

.largebutton{
    background-color:#000;
    color:#FFF;
    padding:10px;
    font-family: Georgia, serif;
    font-variant: small-caps;
    width:130px;
    text-align:center;
    font-size:20px;
    -webkit-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
    -webkit-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.largebutton:hover{
    background-color:#e6e6e6;
    color:#000;
}

.nextbutton{
    margin-left:10px;
}

.xlargebutton{
    background-color:#000;
    color:#FFF;
    padding:10px;
    font-family: Georgia, serif;
    font-variant: small-caps;
    width:25vw;
    text-align:center;
    font-size:2vw;
    -webkit-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
    -webkit-transition: color 0.25s ease-in;
    transition: color 0.25s ease-in;
    -webkit-transition: background-color 0.25s ease-in;
    transition: background-color 0.25s ease-in;
}

.xlargebutton:hover{
    background-color:#e6e6e6;
    color:#000;
}

/* Invisible Chart Data */

.chartdata{
    opacity:0.0;
    z-index:-1;
    height:1px;
}

li{
    font-size: 1vw;
    padding: 10px 15px;
}