.help_tip{
    text-align: center;
    background-color: #BCDBEA;
    border-radius: 50%;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
    position: relative;
    display: inline;
    margin-left: 10px;
    bottom: 6px;
}

.help_tip:before{
    content:'?';
    padding: 4px;
    font-weight: bold;
    color:#fff;
}

.help_tip:hover .help_tip_container {
    display: inline-block;
    animation: fadeIn 0.3s ease-in-out;

}

.help_tip .help_tip_container {
    /* The tooltip */
    display: none;
    z-index: 1;
    left: -18px;
    top: 22px;
    text-align: left;
    background-color: #1E2021;
    padding: 20px;
    width: 370px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
}

.help_tip .help_tip_container:before {
    /* The pointer of the tooltip */
    position: absolute;
    content: '';
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    top:-12px;
}

.help_tip .help_tip_container .important {
    color: red;
}

.help_tip .help_tip_container table {
    margin-top: 10px;
}

/* CSS animation */

@keyframes fadeIn {
    0% { opacity:0; }
    100% {
        opacity: 1;
    }
}

/* inlining */
h4.header.header4, h4.modal-title {
    display: inline-block;
}