#base_body{
    background-image: url('../img/blackboard-light.jpg');
    background-size: cover;
}

#logindiv #forgotpass {
	color:#FFF;
}

#logindiv form {
    font-size: 20px;
}

#logindiv form .fieldWrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

#logindiv form .fieldWrapper input {
    width:230px;
    color: black;
}

#logindiv form .fieldWrapper > label {
    font-weight: 400;
    width: 30%;
}

#logindiv form #loginbutton {
    padding: 10px 45px;
    font-family: proxima-nova, Arial, sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
    margin-top: 30px;
    color: black;
    border: none;
    background-color: white;
}

#logindiv form #loginbutton:hover {
    color: darkgrey;
    cursor: hand;
    cursor: pointer;
}

#logindiv {
    color: #fff;
    padding: 20px;
    width: 420px;
    border: 3px #aaa solid;
    margin: 50px auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

#logindiv #heading {
    margin-bottom: 30px;
    font-size: 40px;
}

#logindiv #heading h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

#logindiv #heading h2:first-child {
    font-size: 50px;
}

#logindiv #heading h2:first-child .glyphicon {
    left: -2px;
}

@media screen and (max-width: 600px) {

    #logindiv {
        padding: 10px 30px;
        border: none;
        margin: 0px;
        text-align: left;
        background: none;
    }

    #logindiv form .fieldWrapper input {
        width:180px;
    }

    #logindiv #heading h2:first-child .glyphicon {
        left: 0px;
    }

    #logindiv #heading h2:first-child {
        font-size: 30px;
    }

    #logindiv #heading h2:last-child {
        font-size: 25px;
    }
}