.new_password_block input[type="text"] {
    padding:5px 7px;
    border:1px solid #d5d9da;
    box-shadow: 0 0 5px #e8e9eb inset;
    font-size:1em;
    outline:0;
}

.new_password_block #result {
    margin-left:5px;
}

.new_password_block .short {
    color:#FF0000;
}

.new_password_block .weak {
    color:#E66C2C;
}

.new_password_block .good {
    color:#2D98F3;
}

.new_password_block .strong {
    color:#006400;
}

#password_reset_text{
    font-style: bold;
    font-size: 18px;
    margin-bottom: 1em; 
}

#password-reset-submit-button {
    padding: 5px;
    margin-top:25px;
}

form input { /*use standard input size on all forms where password strength is used*/
    width: 250px;
}