.password_change {
    margin-left:215px;  
}
.password_change label{
    margin-right:5px;
}
.password_change input {
    padding:5px 7px;
    border:1px solid #d5d9da;
    box-shadow: 0 0 5px #e8e9eb inset;
    width:250px;
    font-size:1em;
    outline:0;
}

#result{
    margin-left:5px;
}

.password_change .short{
    color:#FF0000;
}

.password_change .weak{
    color:#E66C2C;
}

.password_change .good{
    color:#2D98F3;
}

.password_change .strong{
    color:#006400;
}


.errorlist li{
    color: #FF0000;
}

#password_reset_text{
    font-style: bold;
    font-size: 18px;
    margin-bottom: 1em; 
}