
.topheader{
    font-family: Georgia, serif;
    color: #000;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 100;
    margin-bottom: 0;
    display:inline;
    padding: 10px;
}

.header{
    display:inline;
    padding: 10px;
    line-height: 2.5em;
}
.row{
    margin-left:15px;
}

.buttonlabel{
    color: #FFF;
}

.passchange{
    margin: 10px;
}

ul{
    margin-left: 10px;
    display: inline;
}
.settings_info{
    margin-bottom: 0.6em;
}




