#change_password_button a:hover{
    color: #ffffff;
}

#settings_body .header {
    display:inline;
    line-height: 2.5em;
    font-family: "Helvetica Neue";
    font-weight: 500;
    color: rgba(0, 0, 0, 0.59);
}

#change_password_button {
    padding: 10px;
    background-color: #008B8B;
    margin-top: 15px;
}

ul{
    margin-left: 10px;
    display: inline;
}
.settings_info{
    margin-bottom: 0.6em;
}

#settings_body {
    padding-left: 10px;
}

#settings_body div, #settings_body div li {
    font-size: 18px;
}

#parent_child_info_list label {
    margin-right: 10px;
}



