#sidebar{
	margin-bottom: 0px;
    min-height:91vh;
}

#ticker{
    text-align:center;
}

#ticker a{
    font-size: 72px;
    text-align: center;
    vertical-align: center;
}

.listing_element,.userinfo_element{
    margin-top:10px;
    text-align: center;
}

#ticker_header{
    text-align: center;
}

.no_margin{
    margin-top: 0px;
    margin-bottom: 0px;
}

.listing_element a{
    font-weight:bold;
}

hr{
    border-color: #000;
}

p{
    padding:10px;
}