.MathJax_Display{
    text-align:left !important;
}

.question_element_img{
    max-width:600px;
}

.show_hint_button{
    background-color:#B3E0E7;
}

.hide_hint_button{
    background-color:#B3E0E7;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#submission_info{
    width:300px;
}

.due-font{
    color:#B80000;
}

#revision_button{
    background-color: #B3E0E7;
    border: solid 1px #A7A7A7;
    margin-left:20px;
    margin-top:4px;
}

.progress-div{
    float:right;
}

.submission_header{
    font-size:24px;
}

.due-div{
    font-size:24px;
}

input{
    margin: 10px;
}

.picker_row{
    display: block;
}

#id_subjectroom_chosen{
    display:block;
}
#id_question_set_chosen{
    display:block;
}

.submission_well{
    height:70px !important;
    min-width: 1020px;
    position:fixed;
    width:83%;
    z-index:999;
}

.submission_bar{
    height:40px;
}

.percent_value{
    margin-top:10px;
    font-size:16px;
    margin-left: 10px;
}

li{
    font-size:17px;
}

ul{
    list-style:none;
}

.question_subpart_field{
    margin-left:-15px;
}

.question_elem{
    border-bottom: solid 1px #b6b6b6;
    margin-bottom: 20px;
}

.question_container_hint{
    margin-top: 10px;
    margin-bottom: 10px;
}



#readonly_assignment_form,#aql_info,#assignment_info,#submission_info,#uncorrected_submission_form{
 margin-left: 10px;
}

.question_subpart_hint_hidden, .question_subpart_solution_hidden {
    display: none;
}

.progress-bar {
    color: black;
}

.radio_correct, .checkbox_correct {
    background-color:#B4EAB8;
    padding-top:6px;
    padding-bottom:6px;
}

.radio_incorrect, .checkbox_incorrect {
    background-color:#EAB4B4;
    padding-top:4px;
    padding-bottom:4px;
}

.incorrect_answer{
	font-weight:bold;
	color:#B80000;
	font-size:23px;
	margin-top:10px;
}

.correct_answer{
	font-weight:bold;
	color:#00A56B;
	font-size:23px;
}

.hide_solution_button{
	background-color:#F9D672;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;

}

.show_solution_button{
	background-color:#F9D672;
	margin-top:10px;
}

#submission_marks{
	padding-left: 10px;
	padding-top:5px;
	font-size: 23px;
	background-color:rgba(255,255,255,0.85);
}

.question_subpart_hint {
    background-color: #B3E0E7;
    padding: 10px;
}

.question_subpart_solution {
    background-color: #F9D672;
    padding: 10px;
}

#corrected_submission_form .question_subpart_field{
    margin-left:0px !important;
    margin-top:10px;
}

#corrected_submission_form input[type=text]{
    margin-left:-5px !important;
}

#revision_modal h1 {
    margin-bottom: 30px;
}

.question_subpart_field .help_tip {
    bottom: 1px; /*override*/
}

.question_subpart_field ul.errorlist li {
    padding-left: 10px;
}

.question_subpart_field .fieldWrapper {
    margin-top: -10px;
}

.question_subpart_field .fieldWrapper input[type="text"] {
    margin-top: 20px;
}

.question_subpart_field .fieldWrapper .correct_answer {
    margin-left: 10px;
    position: relative;
    top: 2px;
}