.question_subpart_hint_hidden, .question_subpart_solution_hidden, .revision_hidden {
    display: none;
}

.progress-bar {
    color: black;
}

.radio_correct, .checkbox_correct {
    border: 1px solid green;
}

.radio_incorrect, .checkbox_incorrect {
    border: 1px solid red;
}