#userinfo > li {
    border-right: 2px solid #9D9D9D;
}

#userinfo > :last-child {
    border-bottom: none;
}

#announcements_dropdown_container {
    margin: 9px 15px 7px;
}

#announcements_dropdown_container.open > #announcements_button {
    background-color: transparent;
}

#announcements_button:hover {
    cursor: hand;
    cursor: pointer;
    color: transparent; /*to prevent small glitch with badge on hover*/
}

#announcements_button .glyphicon {
    color: #9D9D9D;
}

#announcements_button:hover .glyphicon {
    color: #fff;
}

#userinfo #settings_header_link .glyphicon {
    font-size: 18px;
    top: 0px;
}

#announcements_container {
    width: 300px;
    height: auto;
    max-height: 700px;
    overflow-x: hidden;
}

#announcements_container .announcement_timestamp {
    font-size: 13px;
    position: absolute;
    right: 6px;
    font-family: "Helvetica Neue";
}

#announcements_container .announcement_source {
    font-size: 18px;
    color: #B80000;
}

#announcements_container .announcement_message {
    font-size: 16px;
    font-family: Georgia;
    color: rgba(0, 0, 0, 0.59);
    margin-top: 5px;
}

#announcements_container > li {
    padding: 10px;
    border-bottom: 1px solid gray;
}

#announcements_container > :last-child {
    border-bottom: none;
}
